Repository ls1intum/Helios, pull requests merged in 2024-12, with the labels that each got.

#67 feat: Setup Helios deployment
  .env.example
  .github/workflows/build_docker.yml
  .github/workflows/deploy_docker.yml
  .github/workflows/prod.yml
  .github/workflows/renovate.yml
  README.md
  client/.dockerignore
  client/Dockerfile
  client/angular.json
  client/nginx.conf
  client/src/environments/environment.dev.ts
  client/src/environments/environment.prod.ts
  client/src/environments/environment.ts
  compose.dev.yaml
  compose.prod.yaml
  compose.yaml
  config/nats-server.conf
  nginx.conf
  server/application-server/Dockerfile
  server/application-server/build.gradle
  server/application-server/src/main/java/de/tum/cit/aet/helios/syncing/NatsConsumerService.java
  server/application-server/src/main/resources/application-prod.yml
  server/webhook-listener/README.md
Labels: client, size:XL, ready for review, github-config, webhook-listener, application-server

#71 feat: Frontend improvements
  client/src/app/components/pull-request-table/pull-request-table.component.html
  client/src/app/components/pull-request-table/pull-request-table.component.ts
  client/src/app/pages/environment-list/environment-list.component.html
Labels: size:L, client, feature

#75 feat: Add better pipeline groups for Artemis (hardcoded for now)
  client/src/app/core/services/pipeline.ts
Labels: client, size:S, feature

#79 feat: Implement UI feedback
  client/package.json
  client/src/app/app.component.html
  client/src/app/components/branches-table/branches-table.component.html
  client/src/app/components/branches-table/branches-table.component.ts
  client/src/app/components/pull-request-table/pull-request-table.component.html
  client/src/app/components/pull-request-table/pull-request-table.component.ts
  client/src/app/core/modules/markdown/markdown.pipe.ts
  client/src/app/core/services/branches-table/branch-view-preference.ts
  client/src/app/core/services/pull-requests.ts
  client/src/app/pages/ci-cd/ci-cd.component.html
  client/src/app/pages/ci-cd/ci-cd.component.ts
  client/src/app/pages/pull-request-pipeline/pull-request-pipeline.component.css
  client/src/app/pages/pull-request-pipeline/pull-request-pipeline.component.html
  client/src/app/pages/pull-request-pipeline/pull-request-pipeline.component.ts
  client/yarn.lock
Labels: client, size:XL, feature

#81 feat: Setup project
  client/src/app/app.component.ts
  client/src/app/app.routes.ts
  client/src/app/components/connect-repo/connect-repo.component.html
  client/src/app/components/connect-repo/connect-repo.component.spec.ts
  client/src/app/components/connect-repo/connect-repo.component.ts
  client/src/app/components/pull-request-table/pull-request-table.component.ts
  client/src/app/core/services/auth.service.ts
  client/src/app/core/services/github.service.ts
  client/src/app/core/services/repository.service.ts
  client/src/app/pages/environment-list/environment-list.component.html
  client/src/app/pages/main-layout/main-layout.component.css
  client/src/app/pages/main-layout/main-layout.component.html
  client/src/app/pages/main-layout/main-layout.component.spec.ts
  client/src/app/pages/main-layout/main-layout.component.ts
  client/src/app/pages/project-overview/project-overview.component.css
  client/src/app/pages/project-overview/project-overview.component.html
  client/src/app/pages/project-overview/project-overview.component.spec.ts
  client/src/app/pages/project-overview/project-overview.component.ts
  client/src/app/pages/pull-request-pipeline/pull-request-pipeline.component.html
  client/src/app/pages/pull-request-pipeline/pull-request-pipeline.component.ts
  client/src/icons.module.ts
Labels: client, size:XL, feature

#77 chore(docker): Add docker build cache & Increase timeout in client Dockerfile
  .github/workflows/build_docker.yml
  client/Dockerfile
Labels: client, size:XS, github-config, feature

#87 feat: Environment edit
  client/src/app/components/forms/environment-edit-form/environment-edit-form.component.html
  client/src/app/components/forms/environment-edit-form/environment-edit-form.component.ts
  client/src/app/core/modules/openapi/api/environment-controller.service.ts
  client/src/app/core/modules/openapi/api/environment-controller.serviceInterface.ts
  client/src/app/core/modules/openapi/model/environment-dto.ts
  client/src/app/pages/environment-edit/environment-edit.component.html
  client/src/app/pages/environment-edit/environment-edit.component.ts
  client/src/app/pages/environment-list/environment-list.component.html
  client/src/app/pages/environment-list/environment-list.component.ts
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/Environment.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentDTO.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentService.java
Labels: size:L, client, ready for review, application-server, feature

#89 chore: Update CODEOWNERS
  .github/CODEOWNERS
Labels: size:XS, github-config

#78 feat: Keycloak setup
  .env.example
  .github/workflows/deploy_docker.yml
  client/package.json
  client/src/app/app.component.html
  client/src/app/app.component.ts
  client/src/app/app.config.ts
  client/src/app/core/services/keycloak/bearer-interceptor.ts
  client/src/app/core/services/keycloak/keycloak.service.spec.ts
  client/src/app/core/services/keycloak/keycloak.service.ts
  client/src/app/core/services/keycloak/user-profile.ts
  client/src/app/pages/environment-list/environment-list.component.ts
  client/src/app/pages/main-layout/main-layout.component.ts
  client/src/environments/environment.dev.ts
  client/src/environments/environment.prod.ts
  client/src/environments/environment.ts
  compose.prod.yaml
  compose.yaml
  helios-example-realm.json
  nginx.conf
  server/application-server/.env.example
  server/application-server/build.gradle
  server/application-server/src/main/java/de/tum/cit/aet/helios/config/KeycloakJwtAuthenticationConverter.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/config/SecurityConfig.java
  server/application-server/src/main/resources/application-dev.yml
  server/application-server/src/main/resources/application-openapi.yml
  server/application-server/src/main/resources/application-prod.yml
Labels: client, ready for review, size:XXL, github-config, application-server, feature

#90 fix: Pass Project id
  client/src/app/components/connect-repo/connect-repo.component.ts
  client/src/app/components/forms/environment-edit-form/environment-edit-form.component.ts
  client/src/app/components/pull-request-table/pull-request-table.component.ts
  client/src/app/core/services/github.service.ts
  client/src/app/core/services/keycloak/bearer-interceptor.ts
  client/src/app/pages/environment-list/environment-list.component.html
  client/src/app/pages/environment-list/environment-list.component.ts
  client/src/app/pages/project-settings/project-settings.component.ts
Labels: size:L, client

#52 chore(deps): Update primeng to v19.0.1
  client/angular.json
  client/package.json
  client/src/app/app.config.ts
  client/src/app/app.routes.ts
  client/src/app/components/branches-table/branches-table.component.ts
  client/src/app/components/environments/deployment-state-tag/deployment-state-tag.component.html
  client/src/app/components/environments/environment-list/environment-list-view.component.html
  client/src/app/components/forms/environment-edit-form/environment-edit-form.component.html
  client/src/app/components/forms/environment-edit-form/environment-edit-form.component.ts
  client/src/app/components/pull-request-table/pull-request-table.component.html
  client/src/app/components/pull-request-table/pull-request-table.component.ts
  client/src/app/pages/branch-list/branch-list.component.html
  client/src/app/pages/branch-list/branch-list.component.spec.ts
  client/src/app/pages/branch-list/branch-list.component.ts
  client/src/app/pages/ci-cd/ci-cd.component.html
  client/src/app/pages/ci-cd/ci-cd.component.ts
  client/src/app/pages/project-overview/project-overview.component.html
  client/src/app/pages/project-overview/project-overview.component.ts
  client/src/app/pages/project-settings/project-settings.component.html
  client/src/app/pages/pull-request-details/pull-request-details.component.html
  client/src/app/pages/pull-request-list/pull-request-list.component.html
  client/src/app/pages/pull-request-list/pull-request-list.component.spec.ts
  client/src/app/pages/pull-request-list/pull-request-list.component.ts
  client/src/icons.module.ts
  client/tailwind.config.js
  client/yarn.lock
Labels: client, size:XL, ready for review

#86 feat: Add filter for repositories
  client/src/app/app.config.ts
  client/src/app/app.routes.ts
  client/src/app/components/branches-table/branches-table.component.html
  client/src/app/components/branches-table/branches-table.component.ts
  client/src/app/core/middlewares/header.service.ts
  server/application-server/Dockerfile
  server/application-server/build.gradle
  server/application-server/src/main/java/de/tum/cit/aet/helios/HeliosApplication.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/branch/Branch.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/branch/BranchService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/config/SecurityConfig.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/Deployment.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/DeploymentService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/Environment.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/filters/RepositoryContext.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/filters/RepositoryFilterAspect.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/filters/RepositoryFilterEntity.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/filters/RepositoryInterceptor.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/BaseGitServiceEntity.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/GitHubService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitreposettings/GitRepoSettings.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitreposettings/GitRepoSettingsService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/issue/Issue.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/package-info.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/pullrequest/PullRequestService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/Workflow.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/WorkflowRun.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/WorkflowRunService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/WorkflowService.java
  server/application-server/src/main/resources/META-INF/aop.xml
  server/application-server/src/main/resources/application-dev.yml
Labels: size:L, client, ready for review, application-server

#128 fix: Link to environment list view
  client/src/app/components/environments/environment-list/environment-list-view.component.html
Labels: bug, client, ready for review, size:XS

#138 fix: Navigate to PR Detail View
  client/src/app/components/pull-request-table/pull-request-table.component.ts
Labels: bug, client, size:XS

#124 feat: Update Workflow Groups in PR-Branch Detail
  client/src/app/components/pipeline/pipeline.component.html
  client/src/app/components/pipeline/pipeline.component.ts
  client/src/app/core/modules/openapi/schemas.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  client/src/app/core/services/pipeline.ts
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/WorkflowRunDto.java
Labels: size:L, client, ready for review, application-server, feature

#139 fix: Do not show formatting error for events
  server/application-server/src/main/java/de/tum/cit/aet/helios/filters/RepositoryContext.java
Labels: bug, application-server, size:S

#126 feat: Incorporate last commit info
  client/src/app/components/environments/deployment-info/environment-deployment-info.component.html
  client/src/app/components/environments/deployment-info/environment-deployment-info.component.ts
  client/src/app/components/environments/environment-list/environment-list-view.component.html
  client/src/app/core/modules/openapi/@tanstack/angular-query-experimental.gen.ts
  client/src/app/core/modules/openapi/schemas.gen.ts
  client/src/app/core/modules/openapi/sdk.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  client/src/app/pages/branch-details/branch-details.component.html
  client/src/app/pages/branch-details/branch-details.component.ts
  client/src/app/pipes/time-ago.pipe.ts
  client/src/icons.module.ts
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/commit/Commit.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/commit/CommitController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/commit/CommitId.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/commit/CommitInfoDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/commit/CommitRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/commit/CommitService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/commit/github/GitHubCommitConverter.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/commit/github/GitHubCommitSyncService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/commit/github/GitHubPushMessageHandler.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/sync/GitHubDataSyncService.java
Labels: client, size:XL, ready for review, application-server
