Repository ls1intum/Helios, pull requests merged in 2024-11, with the labels that each got.

#13 chore(actions): Add pr-title validation & Update labeler
  .github/labeler.yml
  .github/workflows/pr-title-validation.yml
Labels: size:M, ready for review

#14 chore: Openapi setup
  client/src/app/core/modules/openapi/.gitignore
  client/src/app/core/modules/openapi/.openapi-generator-ignore
  client/src/app/core/modules/openapi/.openapi-generator/FILES
  client/src/app/core/modules/openapi/.openapi-generator/VERSION
  client/src/app/core/modules/openapi/README.md
  client/src/app/core/modules/openapi/api.module.ts
  client/src/app/core/modules/openapi/api/api.ts
  client/src/app/core/modules/openapi/api/status-controller.service.ts
  client/src/app/core/modules/openapi/api/status-controller.serviceInterface.ts
  client/src/app/core/modules/openapi/configuration.ts
  client/src/app/core/modules/openapi/encoder.ts
  client/src/app/core/modules/openapi/git_push.sh
  client/src/app/core/modules/openapi/index.ts
  client/src/app/core/modules/openapi/model/models.ts
  client/src/app/core/modules/openapi/param.ts
  client/src/app/core/modules/openapi/variables.ts
  server/application-server/.gitignore
  server/application-server/README.md
  server/application-server/build.gradle
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/OpenAPIConfiguration.java
Labels: server, client, size:XL, ready for review

#18 build: Unify compose file for services
  README.md
  compose.dev.yaml
  config/nats-server.conf
  server/application-server/README.md
  server/application-server/compose.yaml
  server/application-server/src/main/resources/application.properties
  server/application-server/src/main/resources/application.yml
  server/webhook-listener/README.md
  server/webhook-listener/compose.yaml
Labels: server, size:L

#26 fix: Expose webhook listener
  compose.dev.yaml
Labels: size:XS

#30 chore(github): Add github client config & Githubsync service
  server/application-server/.env.example
  server/application-server/build.gradle
  server/application-server/src/main/java/de/tum/cit/aet/helios/config/GitHubConfig.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitprovider/GitHubService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitprovider/common/github/BaseGitServiceEntity.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitprovider/common/github/BaseGitServiceEntityConverter.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitprovider/common/github/DateUtil.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitprovider/issue/Issue.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitprovider/issue/IssueRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitprovider/issue/github/GitHubIssueConverter.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitprovider/pullrequest/PullRequest.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitprovider/pullrequest/PullRequestBaseInfoDTO.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitprovider/pullrequest/PullRequestInfoDTO.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitprovider/pullrequest/PullRequestRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitprovider/pullrequest/github/GitHubPullRequestConverter.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitprovider/pullrequest/github/GitHubPullRequestMessageHandler.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitprovider/pullrequest/github/GitHubPullRequestSyncService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitprovider/repository/Repository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitprovider/repository/RepositoryInfoDTO.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitprovider/repository/RepositoryRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitprovider/repository/github/GitHubRepositoryConverter.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitprovider/repository/github/GitHubRepositorySyncService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitprovider/user/User.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitprovider/user/UserInfoDTO.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitprovider/user/UserRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitprovider/user/github/GitHubUserConverter.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitprovider/user/github/GitHubUserSyncService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/syncing/DataSyncStatus.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/syncing/DataSyncStatusRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/syncing/GitHubDataSyncScheduler.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/syncing/GitHubDataSyncService.java
  server/application-server/src/main/resources/application.yml
Labels: server, ready for review, size:XXL

#29 chore: Setup notification service and change Java to LTS 21
  server/application-server/build.gradle
  server/application-server/src/main/java/de/tum/cit/aet/helios/syncing/NatsNotificationPublisherService.java
  server/notification/.env.example
  server/notification/.gitattributes
  server/notification/.gitignore
  server/notification/build.gradle
  server/notification/gradle/wrapper/gradle-wrapper.jar
  server/notification/gradle/wrapper/gradle-wrapper.properties
  server/notification/gradlew
  server/notification/gradlew.bat
  server/notification/settings.gradle
  server/notification/src/main/java/de/tum/cit/aet/notification/NatsNotificationConsumerService.java
  server/notification/src/main/java/de/tum/cit/aet/notification/NotificationApplication.java
  server/notification/src/main/java/de/tum/cit/aet/notification/ServletInitializer.java
  server/notification/src/main/java/de/tum/cit/aet/notification/StatusController.java
  server/notification/src/main/java/de/tum/cit/aet/notification/config/NatsConfig.java
  server/notification/src/main/resources/application.yml
  server/notification/src/test/java/de/tum/cit/aet/notification/NotificationApplicationTests.java
  server/webhook-listener/app/main.py
Labels: server, size:XL, ready for review

#32 feat(ci): Add renovate & update github labeler
  .github/labeler.yml
  .github/renovate.json
  .github/workflows/renovate.yml
Labels: size:L, ready for review, github-config

#31 feat: Add OpenAPI spec validation action and configure Spring profiles
  .github/workflows/validate-openapi.yml
  .gitignore
  client/src/app/core/modules/openapi/.openapi-generator/FILES
  client/src/app/core/modules/openapi/api/status-controller.service.ts
  openapitools.json
  server/application-server/README.md
  server/application-server/build.gradle
  server/application-server/openapi.yaml
  server/application-server/openapitools.json
  server/application-server/src/main/java/de/tum/cit/aet/helios/config/NatsConfig.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/syncing/NatsConsumerService.java
  server/application-server/src/main/resources/application-dev.yml
  server/application-server/src/main/resources/application-openapi.yml
  server/application-server/src/main/resources/application.yml
Labels: server, size:L, client, ready for review, github-config

#33 feat: Pull Request controller & OpenAPI workflow fix
  .github/workflows/validate-openapi.yml
  client/src/app/core/modules/openapi/.openapi-generator/FILES
  client/src/app/core/modules/openapi/api/api.ts
  client/src/app/core/modules/openapi/api/pull-request-controller.service.ts
  client/src/app/core/modules/openapi/api/pull-request-controller.serviceInterface.ts
  client/src/app/core/modules/openapi/index.ts
  client/src/app/core/modules/openapi/model/models.ts
  client/src/app/core/modules/openapi/model/pull-request-info-dto.ts
  client/src/app/core/modules/openapi/model/repository-info-dto.ts
  client/src/app/core/modules/openapi/model/user-info-dto.ts
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitprovider/pullrequest/PullRequestController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitprovider/pullrequest/PullRequestService.java
Labels: server, client, size:XL, ready for review, github-config, application-server

#36 chore(deps): Update microservices dependencies
  .github/renovate.json
  .github/workflows/renovate.yml
  client/.nvmrc
  client/README.md
  server/application-server/build.gradle
  server/application-server/gradle/wrapper/gradle-wrapper.properties
  server/notification/build.gradle
  server/notification/gradle/wrapper/gradle-wrapper.properties
  server/webhook-listener/Dockerfile
  server/webhook-listener/requirements.txt
Labels: size:L, client, github-config, webhook-listener, application-server, notification-server

#37 chore(deps): Update documentation dependencies
  docs/requirements.txt
Labels: documentation, size:S

#50 feat(client): Add navigation bar and favicon
  client/angular.json
  client/src/app/app.component.html
  client/src/app/app.component.ts
  client/src/app/app.routes.ts
  client/src/app/helios-icon/helios-icon.component.html
  client/src/app/helios-icon/helios-icon.component.spec.ts
  client/src/app/helios-icon/helios-icon.component.ts
  client/src/app/pages/environment-list/environment-list.component.css
  client/src/app/pages/environment-list/environment-list.component.html
  client/src/app/pages/environment-list/environment-list.component.spec.ts
  client/src/app/pages/environment-list/environment-list.component.ts
  client/src/app/pages/page-not-found/page-not-found.component.html
  client/src/app/pages/page-not-found/page-not-found.component.spec.ts
  client/src/app/pages/page-not-found/page-not-found.component.ts
  client/src/app/pages/pr-list/pr-list.component.css
  client/src/app/pages/pr-list/pr-list.component.html
  client/src/app/pages/pr-list/pr-list.component.spec.ts
  client/src/app/pages/pr-list/pr-list.component.ts
  client/src/app/pages/release/release.component.css
  client/src/app/pages/release/release.component.html
  client/src/app/pages/release/release.component.spec.ts
  client/src/app/pages/release/release.component.ts
  client/src/favicon.png
  client/src/icons.module.ts
  client/src/index.html
Labels: client, size:XL

#47 feat(environment): Add client list and edit environment pages
  client/package.json
  client/src/app/app.component.html
  client/src/app/app.component.ts
  client/src/app/app.config.ts
  client/src/app/app.routes.ts
  client/src/app/components/environment-commit-info/environment-commit-info.component.css
  client/src/app/components/environment-commit-info/environment-commit-info.component.html
  client/src/app/components/environment-commit-info/environment-commit-info.component.spec.ts
  client/src/app/components/environment-commit-info/environment-commit-info.component.ts
  client/src/app/components/forms/environment-edit-form/environment-edit-form.component.css
  client/src/app/components/forms/environment-edit-form/environment-edit-form.component.html
  client/src/app/components/forms/environment-edit-form/environment-edit-form.component.spec.ts
  client/src/app/components/forms/environment-edit-form/environment-edit-form.component.ts
  client/src/app/components/lock-tag/lock-tag.component.css
  client/src/app/components/lock-tag/lock-tag.component.html
  client/src/app/components/lock-tag/lock-tag.component.spec.ts
  client/src/app/components/lock-tag/lock-tag.component.ts
  client/src/app/core/services/fetch/commit.ts
  client/src/app/core/services/fetch/environment.ts
  client/src/app/counter/counter.component.html
  client/src/app/counter/counter.component.ts
  client/src/app/pages/environment-edit/environment-edit.component.css
  client/src/app/pages/environment-edit/environment-edit.component.html
  client/src/app/pages/environment-edit/environment-edit.component.spec.ts
  client/src/app/pages/environment-edit/environment-edit.component.ts
  client/src/app/pages/environment-list/environment-list.component.html
  client/src/app/pages/environment-list/environment-list.component.ts
  client/src/icons.module.ts
  client/yarn.lock
Labels: client, size:XL
