Repository ls1intum/Helios, pull requests merged in 2025-05, with the labels that each got.

#696 fix: docs image paths
  docs/conf.py
  docs/development/local/keycloak_token_exchange.rst
  docs/index.rst
  docs/user_guide/deployments/testserver.rst
Labels: bug, documentation, size:M

#694 feat: environment display name
  client/src/app/components/environments/environment-accordion/environment-accordion.component.html
  client/src/app/components/environments/environment-accordion/environment-accordion.component.ts
  client/src/app/components/forms/environment-edit-form/environment-edit-form.component.html
  client/src/app/components/forms/environment-edit-form/environment-edit-form.component.ts
  client/src/app/components/release-candidate-deployment-table/release-candidate-deployment-table.component.html
  client/src/app/core/modules/openapi/schemas.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/Environment.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentService.java
  server/application-server/src/main/resources/db/migration/V32__add_environment_display_name.sql
Labels: size:M, client, application-server, feature, migration-script

#688 feat: Highlighting relevant part of stack trace and logs in test results
  client/src/app/components/pipeline/test-results/pipeline-test-results.component.html
  client/src/app/components/pipeline/test-results/pipeline-test-results.component.ts
  client/src/app/core/modules/openapi/schemas.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  client/src/app/pages/project-settings/project-settings.component.html
  client/src/app/pages/project-settings/project-settings.component.ts
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitreposettings/GitRepoSettings.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitreposettings/GitRepoSettingsDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitreposettings/GitRepoSettingsService.java
  server/application-server/src/main/resources/db/migration/V33__add_package_name_to_repository_settings.sql
Labels: size:L, client, ready for review, application-server, feature, migration-script

#697 feat: notification page & server side changes
  client/src/app/app.routes.ts
  client/src/app/components/profile-nav-section/profile-nav-section.component.html
  client/src/app/components/profile-nav-section/profile-nav-section.component.spec.ts
  client/src/app/components/profile-nav-section/profile-nav-section.component.ts
  client/src/app/core/modules/openapi/@tanstack/angular-query-experimental.gen.ts
  client/src/app/core/modules/openapi/schemas.gen.ts
  client/src/app/core/modules/openapi/sdk.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  client/src/app/core/routeGuards/auth.guard.ts
  client/src/app/pages/user-settings/user-settings.component.html
  client/src/app/pages/user-settings/user-settings.component.ts
  docs/development/local/setup.rst
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/notification/NotificationConfig.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/notification/NotificationPreference.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/notification/NotificationPreferenceDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/notification/NotificationPreferenceRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/notification/NotificationPreferenceService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/notification/NotificationPreferencesWrapper.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/permissions/UserPermissionsController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/user/User.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/user/UserController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/user/UserService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/user/UserSettingsDto.java
  server/application-server/src/main/resources/application.yml
  server/application-server/src/main/resources/db/migration/V34__notification.sql
Labels: documentation, client, ready for review, size:XXL, application-server, feature, migration-script

#693 feat: Notification Service email setup
  .env.example
  .github/workflows/build_docker.yml
  .github/workflows/deploy_docker.yml
  .github/workflows/prod.yml
  .github/workflows/staging.yml
  compose.prod.yaml
  compose.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/nats/NatsNotificationPublisherService.java
  server/notification/.dockerignore
  server/notification/.env.example
  server/notification/Dockerfile
  server/notification/README.md
  server/notification/build.gradle
  server/notification/settings.gradle
  server/notification/src/main/java/de/tum/cit/aet/notification/NatsNotificationConsumerService.java
  server/notification/src/main/java/de/tum/cit/aet/notification/StatusController.java
  server/notification/src/main/java/de/tum/cit/aet/notification/config/NatsConfig.java
  server/notification/src/main/java/de/tum/cit/aet/notification/controller/EmailTestController.java
  server/notification/src/main/java/de/tum/cit/aet/notification/nats/NatsErrorListener.java
  server/notification/src/main/java/de/tum/cit/aet/notification/nats/NatsMessageHandler.java
  server/notification/src/main/java/de/tum/cit/aet/notification/nats/NatsMessageHandlerRegistry.java
  server/notification/src/main/java/de/tum/cit/aet/notification/nats/NatsNotificationConsumerService.java
  server/notification/src/main/java/de/tum/cit/aet/notification/nats/handler/EmailNotificationHandler.java
  server/notification/src/main/java/de/tum/cit/aet/notification/service/EmailService.java
  server/notification/src/main/java/de/tum/cit/aet/notification/service/EmailTemplateService.java
  server/notification/src/main/resources/application-dev.yml
  server/notification/src/main/resources/application-prod.yml
  server/notification/src/main/resources/application-staging.yml
  server/notification/src/main/resources/application.yml
  server/notification/src/main/resources/email-templates/README.md
  server/notification/src/main/resources/email-templates/welcome.html
  server/settings.gradle
Labels: ready for review, size:XXL, github-config, application-server, notification-server, feature

#698 fix: docker network
  compose.prod.yaml
Labels: bug, ready for review, size:XS

#699 fix: dark mode issue in user settings page
  client/src/app/pages/user-settings/user-settings.component.html
Labels: bug, client, ready for review, size:XS

#700 feat: email templates & application-server / notification connection
  .env.example
  compose.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentScheduler.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitreposettings/GitRepoSettingsController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/nats/NatsNotificationPublisherService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/notification/email/DeploymentFailurePayload.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/notification/email/EmailNotificationPayload.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/notification/email/LockExpiredPayload.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/notification/email/LockReleasedPayload.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/util/DeploymentFailureNotificationDecider.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/util/StartupTimeHolder.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/github/GitHubWorkflowRunSyncService.java
  server/application-server/src/test/java/de/tum/cit/aet/helios/environment/EnvironmentServiceTest.java
  server/notification/src/main/java/de/tum/cit/aet/notification/service/EmailTemplateService.java
  server/notification/src/main/resources/application-dev.yml
  server/notification/src/main/resources/application-prod.yml
  server/notification/src/main/resources/application-staging.yml
  server/notification/src/main/resources/email-templates/deployment-failure.html
  server/notification/src/main/resources/email-templates/lock-expired.html
  server/notification/src/main/resources/email-templates/lock-released.html
Labels: size:XL, application-server, notification-server, feature

#701 fix: check notification preference
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentScheduler.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/nats/NatsNotificationPublisherService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/notification/email/DeploymentFailurePayload.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/notification/email/EmailNotificationPayload.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/notification/email/LockExpiredPayload.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/notification/email/LockReleasedPayload.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/util/DeploymentFailureNotificationDecider.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/util/NotificationEligibilityService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/github/GitHubWorkflowRunSyncService.java
Labels: bug, size:L, ready for review, application-server

#702 chore: add test workflows
  .github/workflows/deployment-helios-fail-deployment.yml
  .github/workflows/deployment-helios-fail-pre-deployment.yml
Labels: size:M, github-config

#703 fix: deployment notification null pr number issue
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/github/GitHubWorkflowRunSyncService.java
Labels: bug, size:M, ready for review, application-server

#713 feat: Added Link to GitHub workflow run for deployments
  client/src/app/components/environments/environment-accordion/environment-accordion.component.html
  client/src/app/components/environments/environment-accordion/environment-accordion.component.ts
Labels: client, size:S, feature

#718 feat: connect repo onboarding
  client/public/assets/edit-environments.png
  client/public/assets/github-environments.png
  client/public/assets/project-settings.png
  client/src/app/pages/repository-overview/connection-steps.ts
  client/src/app/pages/repository-overview/repository-overview.component.html
  client/src/app/pages/repository-overview/repository-overview.component.ts
  client/src/app/primeng.config.ts
  docs/development/production/ls1intum.rst
Labels: documentation, size:L, client

#717 feat: delete environment type tag
  client/src/app/components/environments/environment-accordion/environment-accordion.component.html
  client/src/app/components/environments/environment-accordion/environment-accordion.component.ts
Labels: client, size:S

#714 feat: Cancelling deployment workflow run
  client/src/app/components/environments/environment-accordion/environment-accordion.component.html
  client/src/app/components/environments/environment-accordion/environment-accordion.component.ts
  client/src/app/components/environments/environment-actions/environment-actions.component.html
  client/src/app/components/environments/environment-actions/environment-actions.component.ts
  client/src/app/components/environments/environment-list/environment-list-view.component.html
  client/src/app/components/environments/environment-list/environment-list-view.component.ts
  client/src/app/core/modules/openapi/@tanstack/angular-query-experimental.gen.ts
  client/src/app/core/modules/openapi/schemas.gen.ts
  client/src/app/core/modules/openapi/sdk.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/CancelDeploymentRequest.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/DeploymentController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/DeploymentService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/GitHubService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/heliosdeployment/HeliosDeployment.java
Labels: size:L, client, ready for review, application-server, feature

#463 feat: pull request pagination
  client/src/app/components/pull-request-table/pull-request-table.component.html
  client/src/app/components/pull-request-table/pull-request-table.component.ts
  client/src/app/components/table-filter-paginated/table-filter-paginated.component.html
  client/src/app/components/table-filter-paginated/table-filter-paginated.component.ts
  client/src/app/core/modules/openapi/@tanstack/angular-query-experimental.gen.ts
  client/src/app/core/modules/openapi/schemas.gen.ts
  client/src/app/core/modules/openapi/sdk.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  client/src/app/core/services/paginated-table.service.ts
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/pullrequest/PullRequestController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/pullrequest/PullRequestRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/pullrequest/PullRequestService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/pullrequest/pagination/PaginatedPullRequestsResponse.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/pullrequest/pagination/PullRequestFilterType.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/pullrequest/pagination/PullRequestPageRequest.java
Labels: client, size:XXL, application-server, feature

#712 feat: push-based hearthbeats
  .github/labeler.yml
  .github/workflows/release-maven.yml
  client/src/app/components/environments/environment-accordion/environment-accordion.component.html
  client/src/app/components/environments/environment-details/environment-details.component.html
  client/src/app/components/environments/environment-status-info/environment-status-info.component.html
  client/src/app/components/environments/environment-status-info/environment-status-info.component.ts
  client/src/app/components/environments/environment-status-tag/environment-status-tag.component.html
  client/src/app/components/environments/environment-status-tag/environment-status-tag.component.ts
  client/src/app/components/forms/environment-edit-form/environment-edit-form.component.html
  client/src/app/components/forms/environment-edit-form/environment-edit-form.component.ts
  client/src/app/core/modules/openapi/@tanstack/angular-query-experimental.gen.ts
  client/src/app/core/modules/openapi/schemas.gen.ts
  client/src/app/core/modules/openapi/sdk.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  client/src/app/pages/project-settings/project-settings.component.html
  client/src/app/pages/project-settings/project-settings.component.ts
  server/application-server/build.gradle
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/config/SecurityConfig.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/status/EnvironmentStatus.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/status/EnvironmentStatusController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/status/LifecycleState.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/status/PushStatusPayload.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/status/StatusCheckScheduler.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/status/StatusCheckService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/status/StatusCheckType.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/error/GlobalExceptionHandler.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/filters/RepoSecretFilter.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitreposettings/GitRepoSettings.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitreposettings/GitRepoSettingsController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitreposettings/secret/RepoSecretService.java
  server/application-server/src/main/resources/db/migration/V35__add_secret_hash.sql
  server/build.gradle
  server/helios-status-spring-starter/.gitignore
  server/helios-status-spring-starter/PACKAGE_README.md
  server/helios-status-spring-starter/README.md
  server/helios-status-spring-starter/pom.xml
  server/helios-status-spring-starter/src/main/java/de/tum/cit/aet/helios/HeliosClient.java
  server/helios-status-spring-starter/src/main/java/de/tum/cit/aet/helios/HeliosEndpoint.java
  server/helios-status-spring-starter/src/main/java/de/tum/cit/aet/helios/HeliosStatusProperties.java
  server/helios-status-spring-starter/src/main/java/de/tum/cit/aet/helios/autoconfig/HeliosStatusAutoConfiguration.java
  server/helios-status-spring-starter/src/main/java/de/tum/cit/aet/helios/status/LifecycleState.java
  server/helios-status-spring-starter/src/main/java/de/tum/cit/aet/helios/status/PushStatusPayload.java
  server/helios-status-spring-starter/src/main/java/de/tum/cit/aet/helios/status/listeners/BootLifecycleListener.java
  server/helios-status-spring-starter/src/main/java/de/tum/cit/aet/helios/status/listeners/HeartbeatScheduler.java
  server/helios-status-spring-starter/src/main/resources/META-INF/spring.factories
  server/helios-status-spring-starter/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  server/helios-status-spring-starter/src/main/resources/logback-spring.xml
  server/settings.gradle
Labels: client, ready for review, size:XXL, github-config, application-server, feature, migration-script

#726 feat: refactor push statuses & add javadocs
  client/src/app/components/environments/environment-status-tag/environment-status-tag.component.ts
  client/src/app/core/modules/openapi/schemas.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/status/LifecycleState.java
  server/helios-status-spring-starter/PACKAGE_README.md
  server/helios-status-spring-starter/src/main/java/de/tum/cit/aet/helios/HeliosClient.java
  server/helios-status-spring-starter/src/main/java/de/tum/cit/aet/helios/HeliosEndpoint.java
  server/helios-status-spring-starter/src/main/java/de/tum/cit/aet/helios/HeliosStatusProperties.java
  server/helios-status-spring-starter/src/main/java/de/tum/cit/aet/helios/autoconfig/BootLifecycleListener.java
  server/helios-status-spring-starter/src/main/java/de/tum/cit/aet/helios/autoconfig/HeartbeatScheduler.java
  server/helios-status-spring-starter/src/main/java/de/tum/cit/aet/helios/autoconfig/HeliosStatusAutoConfiguration.java
  server/helios-status-spring-starter/src/main/java/de/tum/cit/aet/helios/status/LifecycleState.java
  server/helios-status-spring-starter/src/main/java/de/tum/cit/aet/helios/status/PushStatusPayload.java
  server/helios-status-spring-starter/src/main/java/de/tum/cit/aet/helios/status/listeners/BootLifecycleListener.java
Labels: ready for review

#743 feat: Environment List View Enhancements
  client/src/app/components/environments/environment-accordion/environment-accordion.component.html
  client/src/app/components/environments/environment-accordion/environment-accordion.component.ts
  client/src/app/components/environments/environment-actions/environment-actions.component.html
  client/src/app/components/environments/environment-list/environment-list-view.component.html
  client/src/app/components/environments/environment-list/environment-list-view.component.ts
Labels: size:L, client, ready for review, feature

#752 refactor: move version number to footer
  client/src/app/components/footer/footer.component.html
  client/src/app/components/footer/footer.component.ts
  client/src/app/pages/main-layout/main-layout.component.html
  client/src/app/pages/main-layout/main-layout.component.ts
Labels: client, size:S

#741 feat: improve confirmation dialogs
  client/src/app/components/dialogs/deploy-confirmation/deploy-confirmation.component.html
  client/src/app/components/dialogs/deploy-confirmation/deploy-confirmation.component.ts
  client/src/app/components/dialogs/lock-confirmation/lock-confirmation.component.html
  client/src/app/components/dialogs/lock-confirmation/lock-confirmation.component.ts
  client/src/app/components/dialogs/publish-draft-release-confirmation/publish-draft-release-confirmation.component.html
  client/src/app/components/dialogs/publish-draft-release-confirmation/publish-draft-release-confirmation.component.ts
  client/src/app/components/dialogs/secret-generate-confirmation/secret-generate-confirmation.component.html
  client/src/app/components/dialogs/secret-generate-confirmation/secret-generate-confirmation.component.ts
  client/src/app/components/environments/environment-list/environment-list-view.component.html
  client/src/app/components/environments/environment-list/environment-list-view.component.ts
  client/src/app/components/navigation-bar/navigation-bar.component.ts
  client/src/app/components/release-candidate-deployment-table/release-candidate-deployment-table.component.html
  client/src/app/components/release-candidate-deployment-table/release-candidate-deployment-table.component.ts
  client/src/app/pages/project-settings/project-settings.component.html
  client/src/app/pages/project-settings/project-settings.component.ts
  client/src/app/pages/release-candidate-details/release-candidate-details.component.html
  client/src/app/pages/release-candidate-details/release-candidate-details.component.ts
  client/src/app/pages/repository-overview/connection-steps.ts
Labels: client, size:XL, ready for review, feature

#757 test: TestResultProcessor
  server/application-server/src/test/java/de/tum/cit/aet/helios/tests/TestResultProcessorTest.java
Labels: size:L, application-server

#755 test: TestResultService
  server/application-server/src/test/java/de/tum/cit/aet/helios/tests/TestResultServiceTest.java
Labels: size:L, application-server

#744 refactor: pr/branch details & environment views
  client/src/app/components/deployment-selection/deployment-selection.component.html
  client/src/app/components/deployment-selection/deployment-selection.component.ts
  client/src/app/components/environments/environment-accordion/environment-accordion.component.html
  client/src/app/components/environments/environment-actions/environment-actions.component.html
  client/src/app/components/environments/environment-list/environment-list-view.component.html
  client/src/app/components/pipeline/pipeline.component.html
  client/src/app/components/pipeline/pipeline.component.ts
  client/src/app/components/pipeline/test-results/pipeline-test-results.component.html
  client/src/app/components/pipeline/test-results/pipeline-test-results.component.ts
  client/src/app/pages/pull-request-details/pull-request-details.component.html
  client/src/app/pages/pull-request-details/pull-request-details.component.ts
Labels: size:L, client, ready for review, feature

#763 feat: Adding comments to releases
  client/src/app/components/dialogs/release-evaluation-dialog/release-evaluation-dialog.component.html
  client/src/app/components/dialogs/release-evaluation-dialog/release-evaluation-dialog.component.ts
  client/src/app/core/modules/openapi/schemas.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  client/src/app/pages/release-candidate-details/release-candidate-details.component.html
  client/src/app/pages/release-candidate-details/release-candidate-details.component.ts
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/ReleaseEvaluationDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/ReleaseInfoController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/ReleaseInfoDetailsDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/ReleaseInfoService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/releasecandidate/ReleaseCandidateEvaluation.java
  server/application-server/src/main/resources/db/migration/V36__add_comment_to_release_candidate_evaluation.sql
Labels: size:L, client, ready for review, application-server, feature, migration-script
