Repository ls1intum/Helios, pull requests merged in 2025-02, with the labels that each got.

#279 fix: Handle cancel case and refactor workflow label confirmation dialog
  client/src/app/pages/project-settings/project-settings.component.html
  client/src/app/pages/project-settings/project-settings.component.ts
Labels: bug, size:M, client, ready for review

#273 feat: Align test server deployment with Artemis workflow changes
  .github/workflows/deployment-helios.yml
  docs/development/local/setup.rst
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/DeploymentService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentService.java
  server/application-server/src/main/resources/application-dev.yml
  server/application-server/src/main/resources/application-prod.yml
Labels: documentation, size:L, ready for review, github-config, application-server, feature

#294 fix: LOB stream error when processing deployment
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/github/GitHubDeploymentSyncService.java
Labels: bug, ready for review, size:XS, application-server

#291 feat: Show more details of a locked environment in tooltip
  client/src/app/components/user-lock-info/user-lock-info.component.html
  client/src/app/components/user-lock-info/user-lock-info.component.ts
  client/src/app/pages/main-layout/main-layout.component.html
  client/src/app/pages/main-layout/main-layout.component.ts
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/Environment.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentLockHistoryDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentService.java
Labels: size:L, client, application-server, feature

#284 feat: Add first implementation of environment status
  .codacy.yaml
  client/src/app/components/environments/environment-list/environment-list-view.component.html
  client/src/app/components/environments/environment-list/environment-list-view.component.ts
  client/src/app/components/environments/environment-status-info/environment-status-info.component.html
  client/src/app/components/environments/environment-status-info/environment-status-info.component.ts
  client/src/app/components/environments/environment-status-tag/environment-status-tag.component.html
  client/src/app/components/environments/environment-status-tag/environment-status-tag.component.ts
  client/src/app/components/forms/environment-edit-form/environment-edit-form.component.html
  client/src/app/components/forms/environment-edit-form/environment-edit-form.component.ts
  client/src/app/core/modules/openapi/schemas.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  client/src/app/core/services/date.service.ts
  client/src/main.ts
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/Environment.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentLockHistoryDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/status/ArtemisInfoCheck.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/status/EnvironmentStatus.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/status/EnvironmentStatusConfig.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/status/EnvironmentStatusRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/status/HttpStatusCheck.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/status/StatusCheckResult.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/status/StatusCheckScheduler.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/status/StatusCheckService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/status/StatusCheckStrategy.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/status/StatusCheckType.java
  server/application-server/src/main/resources/db/migration/V2__status_checks.sql
Labels: client, size:XL, ready for review, application-server, feature

#276 feat: Locking and Deployment information changes
  .vscode/extensions.json
  client/src/app/components/environments/deployment-info/environment-deployment-info.component.html
  client/src/app/components/environments/deployment-info/environment-deployment-info.component.ts
  client/src/app/components/environments/deployment-state-tag/deployment-state-tag.component.html
  client/src/app/components/environments/deployment-state-tag/deployment-state-tag.component.ts
  client/src/app/components/environments/environment-list/environment-list-view.component.html
  client/src/app/components/environments/environment-list/environment-list-view.component.ts
  client/src/app/components/environments/environment-status-tag/environment-status-tag.component.html
  client/src/app/components/environments/lock-time/lock-time.component.html
  client/src/app/components/environments/lock-time/lock-time.component.spec.ts
  client/src/app/components/environments/lock-time/lock-time.component.ts
  client/src/app/components/user-avatar/user-avatar.component.html
  client/src/app/components/user-avatar/user-avatar.component.ts
  client/src/app/core/modules/openapi/schemas.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  client/src/app/core/services/date.service.ts
  client/src/app/core/services/keycloak/keycloak.service.ts
  client/src/app/pages/environment-deployment-history/environment-deployment-history.component.html
  client/src/app/pages/environment-deployment-history/environment-deployment-history.component.ts
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/auth/AuthService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/ActivityHistoryDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/Deployment.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/DeploymentDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/DeploymentService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/LatestDeploymentUnion.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/github/DeploymentSource.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/github/GitHubDeploymentDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/github/GitHubDeploymentStatusMessageHandler.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/github/GitHubDeploymentSyncService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/github/adapter/GhDeploymentSourceAdapter.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/github/adapter/GitHubDeploymentSourceAdapter.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/Environment.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentLockHistory.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentLockHistoryDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentLockHistoryRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/status/StatusCheckScheduler.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/GitHubClientManager.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/GitHubFacade.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/GitHubFacadeImpl.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/heliosdeployment/HeliosDeployment.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/heliosdeployment/HeliosDeploymentRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/user/UserInfoDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/user/UserRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/user/github/GitHubUserSyncService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/WorkflowRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/WorkflowService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/github/GitHubWorkflowRunSyncService.java
  server/application-server/src/main/resources/db/migration/V3__user_field_to_entities.sql
Labels: client, ready for review, size:XXL, application-server, feature

#274 feat: Optimize syncing of GitHub data
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/github/GitHubDeploymentSyncService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/github/GitHubEnvironmentSyncService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/GitHubClientManager.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/GitHubDeploymentIterator.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/GitHubService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/sync/GitHubDataSyncService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/http/HttpClientConfig.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/http/HttpClientRateLimitInterceptor.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/http/RateLimitInfo.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/http/RateLimitInfoHolder.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/pullrequest/PullRequestRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/pullrequest/github/GitHubPullRequestSyncService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/util/DateUtil.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/util/RateLimitUtil.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/github/GitHubWorkflowRunSyncService.java
  server/application-server/src/main/resources/application-dev.yml
  server/application-server/src/main/resources/application-prod.yml
  server/application-server/src/main/resources/application.yml
Labels: size:XL, ready for review, application-server, feature

#286 fix: Branch search format breaking
  client/src/app/components/branches-table/branches-table.component.html
Labels: bug, client, ready for review, size:S

#298 fix: UNKNOWN deployment status after second sync
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/github/GitHubDeploymentSyncService.java
Labels: bug, ready for review, application-server, size:S

#299 fix: Remove setting PR Status to closed
  server/application-server/src/main/java/de/tum/cit/aet/helios/pullrequest/github/GitHubPullRequestSyncService.java
Labels: bug, ready for review, application-server, size:S

#215 test: Add server unit test setup
  .github/workflows/test.yml
  docs/development/local/testing.rst
  docs/index.rst
  server/application-server/build.gradle
  server/application-server/src/main/java/de/tum/cit/aet/helios/HeliosApplication.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/branch/BranchController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/config/AspectConfig.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/GitHubConfig.java
  server/application-server/src/main/resources/application-test.yml
  server/application-server/src/test/java/de/tum/cit/aet/helios/HeliosApplicationTests.java
  server/application-server/src/test/java/de/tum/cit/aet/helios/branch/BranchControllerTest.java
Labels: documentation, size:L, github-config, application-server

#301 fix: Filter PR Fix & Pagination for activity history
  client/src/app/components/pull-request-table/pull-request-table.component.ts
  client/src/app/pages/environment-deployment-history/environment-deployment-history.component.html
Labels: client, size:S, feature

#296 chore: Clean migration
  .github/workflows/flyway-validate.yml
  docs/development/local/migrations.rst
  server/application-server/build.gradle
  server/application-server/src/main/resources/application-dev.yml
Labels: documentation, size:L, github-config, application-server

#282 feat: Add tags
  .gitignore
  client/.gitignore
  client/src/app/app.routes.ts
  client/src/app/components/dialogs/tag-create/tag-create.component.html
  client/src/app/components/dialogs/tag-create/tag-create.component.ts
  client/src/app/components/table-filter/table-filter.component.html
  client/src/app/components/tag-deployment-table/tag-deployment-table.component.html
  client/src/app/components/tag-deployment-table/tag-deployment-table.component.ts
  client/src/app/components/tag-table/tag-table.component.html
  client/src/app/components/tag-table/tag-table.component.ts
  client/src/app/core/modules/openapi/@tanstack/angular-query-experimental.gen.ts
  client/src/app/core/modules/openapi/schemas.gen.ts
  client/src/app/core/modules/openapi/sdk.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  client/src/app/core/services/keycloak/keycloak.service.ts
  client/src/app/pages/branch-details/branch-details.component.html
  client/src/app/pages/branch-details/branch-details.component.ts
  client/src/app/pages/release/release.component.html
  client/src/app/pages/release/release.component.ts
  client/src/app/pages/tag-details/tag-details.component.html
  client/src/app/pages/tag-details/tag-details.component.ts
  client/src/app/pages/tag-list/tag-list.component.html
  client/src/app/pages/tag-list/tag-list.component.ts
  client/src/icons.module.ts
  client/tsconfig.app.json
  server/application-server/build.gradle
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/branch/BranchController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/branch/BranchDetailsDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/branch/BranchService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/branch/github/GitHubBranchSyncService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/commit/github/GitHubCommitSyncService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/DeploymentRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentLockHistoryDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/error/GlobalExceptionHandler.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tag/CommitsSinceTagDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tag/Tag.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tag/TagController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tag/TagCreateDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tag/TagDetailsDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tag/TagEvaluation.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tag/TagEvaluationId.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tag/TagEvaluationRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tag/TagException.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tag/TagId.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tag/TagInfoDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tag/TagRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tag/TagService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/user/User.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/user/UserRepository.java
  server/application-server/src/main/resources/application-migration.yml
  server/application-server/src/main/resources/db/migration/V4__create_tag.sql
  server/application-server/src/test/java/de/tum/cit/aet/helios/branch/BranchControllerTest.java
Labels: client, ready for review, size:XXL, application-server

#315 feat: Add information banner if logged out
  client/src/app/pages/main-layout/main-layout.component.html
  client/src/app/pages/main-layout/main-layout.component.ts
Labels: client, ready for review, size:S

#322 chore: Workflow updates after default branch change
  .github/renovate.json
  .github/workflows/docs.yml
  .github/workflows/enforce-staging-source-branch.yml
  .github/workflows/flyway-validate.yml
  .github/workflows/pr-title-validation.yml
  .github/workflows/prod.yml
  .github/workflows/test.yml
  .github/workflows/validate-openapi.yml
Labels: size:M, ready for review, github-config

#339 docs: User guide
  docs/images/user_guide/1-select-repo.png
  docs/images/user_guide/2-login.png
  docs/images/user_guide/3-login-gh.png
  docs/images/user_guide/4-open-pr.png
  docs/images/user_guide/5-deploy.png
  docs/images/user_guide/6-deployment-pending.png
  docs/images/user_guide/7-deployment-in-progress.png
  docs/images/user_guide/8-unlock.png
  docs/images/user_guide/github-deployment.png
  docs/index.rst
  docs/user_guide/deployments/testserver.rst
Labels: documentation, size:L, feature

#332 chore: Workflow & Docs Updates
  .github/renovate.json
  .github/workflows/build_docker.yml
  .github/workflows/docs.yml
  .github/workflows/enforce-staging-source-branch.yml
  .github/workflows/flyway-validate.yml
  .github/workflows/pr-title-validation.yml
  .github/workflows/prod.yml
  .github/workflows/test.yml
  .github/workflows/validate-openapi.yml
  client/README.md
  docs/images/user_guide/1-select-repo.png
  docs/images/user_guide/2-login.png
  docs/images/user_guide/3-login-gh.png
  docs/images/user_guide/4-open-pr.png
  docs/images/user_guide/5-deploy.png
  docs/images/user_guide/6-deployment-pending.png
  docs/images/user_guide/7-deployment-in-progress.png
  docs/images/user_guide/8-unlock.png
  docs/images/user_guide/github-deployment.png
  docs/index.rst
  docs/user_guide/deployments/testserver.rst
Labels: documentation, size:L, client, ready for review, github-config

#349 fix: Use durable consumer for GitHub webhook events
  .github/workflows/deploy_docker.yml
  compose.prod.yaml
  compose.yaml
  docs/development/local/setup.rst
  server/application-server/.env.example
  server/application-server/src/main/java/de/tum/cit/aet/helios/nats/NatsConsumerService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/nats/NatsErrorListener.java
  server/application-server/src/main/resources/application-dev.yml
  server/application-server/src/main/resources/application-openapi.yml
  server/application-server/src/main/resources/application-prod.yml
Labels: bug, documentation, size:L, ready for review, github-config, application-server

#356 refactor: Rename tag to release candidate
  client/src/app/app.routes.ts
  client/src/app/components/dialogs/release-candidate-create/release-candidate-create.component.html
  client/src/app/components/dialogs/release-candidate-create/release-candidate-create.component.ts
  client/src/app/components/release-candidate-deployment-table/release-candidate-deployment-table.component.html
  client/src/app/components/release-candidate-deployment-table/release-candidate-deployment-table.component.ts
  client/src/app/components/release-candidate-table/release-candidate-table.component.html
  client/src/app/components/release-candidate-table/release-candidate-table.component.ts
  client/src/app/core/modules/openapi/@tanstack/angular-query-experimental.gen.ts
  client/src/app/core/modules/openapi/schemas.gen.ts
  client/src/app/core/modules/openapi/sdk.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  client/src/app/pages/branch-details/branch-details.component.html
  client/src/app/pages/branch-details/branch-details.component.ts
  client/src/app/pages/release-candidate-details/release-candidate-details.component.html
  client/src/app/pages/release-candidate-details/release-candidate-details.component.ts
  client/src/app/pages/release-candidate-list/release-candidate-list.component.html
  client/src/app/pages/release-candidate-list/release-candidate-list.component.ts
  client/src/app/pages/release/release.component.html
  client/src/app/pages/tag-list/tag-list.component.html
  client/src/app/pages/tag-list/tag-list.component.ts
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/branch/BranchDetailsDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/branch/BranchService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentLockHistoryDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/error/GlobalExceptionHandler.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/GitHubService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releasecandidate/CommitsSinceReleaseCandidateDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releasecandidate/ReleaseCandidate.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releasecandidate/ReleaseCandidateController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releasecandidate/ReleaseCandidateCreateDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releasecandidate/ReleaseCandidateDetailsDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releasecandidate/ReleaseCandidateEvaluation.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releasecandidate/ReleaseCandidateEvaluationId.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releasecandidate/ReleaseCandidateEvaluationRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releasecandidate/ReleaseCandidateException.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releasecandidate/ReleaseCandidateId.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releasecandidate/ReleaseCandidateInfoDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releasecandidate/ReleaseCandidateRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releasecandidate/ReleaseCandidateService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tag/TagController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tag/TagCreateDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tag/TagEvaluationId.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tag/TagEvaluationRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tag/TagException.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tag/TagInfoDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tag/TagRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tag/TagService.java
  server/application-server/src/main/resources/db/migration/V5__rename_to_release_candidate.sql
  server/application-server/src/test/java/de/tum/cit/aet/helios/branch/BranchControllerTest.java
Labels: client, size:XXL, application-server

#362 chore: Validate flyway on staging
  .github/workflows/flyway-validate.yml
Labels: size:XS, github-config

#361 fix: Truncating commit messages when longer than 255 chars
  server/application-server/src/main/java/de/tum/cit/aet/helios/commit/github/GitHubCommitConverter.java
  server/application-server/src/main/resources/db/migration/V6__reduce_commit_length.sql
Labels: application-server, size:S

#347 feat: Adjust Locking & Unlocking Logic
  client/src/app/components/environments/environment-list/environment-list-view.component.html
  client/src/app/components/environments/environment-list/environment-list-view.component.ts
  client/src/app/components/environments/lock-time/lock-time.component.html
  client/src/app/components/environments/lock-time/lock-time.component.ts
  client/src/app/components/forms/environment-edit-form/environment-edit-form.component.html
  client/src/app/components/forms/environment-edit-form/environment-edit-form.component.ts
  client/src/app/components/locking-thresholds/locking-thresholds.component.html
  client/src/app/components/locking-thresholds/locking-thresholds.component.ts
  client/src/app/components/user-avatar/user-avatar.component.html
  client/src/app/components/user-lock-info/user-lock-info.component.html
  client/src/app/components/user-lock-info/user-lock-info.component.ts
  client/src/app/core/modules/openapi/@tanstack/angular-query-experimental.gen.ts
  client/src/app/core/modules/openapi/schemas.gen.ts
  client/src/app/core/modules/openapi/sdk.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  client/src/app/core/services/date.service.ts
  client/src/app/pages/environment-deployment-history/environment-deployment-history.component.html
  client/src/app/pages/project-settings/project-settings.component.html
  client/src/app/pages/project-settings/project-settings.component.ts
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/auth/AuthService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/ActivityHistoryDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/Deployment.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/Environment.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentLockHistory.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentLockHistoryDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentScheduler.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitrepo/github/GitHubRepositorySyncService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitreposettings/GitRepoSettings.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitreposettings/GitRepoSettingsController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitreposettings/GitRepoSettingsDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitreposettings/GitRepoSettingsService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/user/github/GitHubUserConverter.java
  server/application-server/src/main/resources/application.yml
  server/application-server/src/main/resources/db/migration/V7__add_lock_threshold_columns.sql
Labels: client, ready for review, size:XXL, application-server, feature

#360 feat: Add dynamic status check intervals with cooldown period and timeout handling
  client/src/app/components/environments/environment-status-info/environment-status-info.component.html
  client/src/app/components/environments/environment-status-info/environment-status-info.component.ts
  client/src/app/pipes/time-ago.pipe.ts
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/DeploymentService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/Environment.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/status/ArtemisInfoCheck.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/status/EnvironmentStatusConfig.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/status/StatusCheckScheduler.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/status/StatusCheckService.java
  server/application-server/src/main/resources/application.yml
  server/application-server/src/main/resources/db/migration/V8__add_last_check_to_envs.sql
Labels: bug, size:L, client, ready for review, application-server

#368 fix: Add repository filter to release candidate
  server/application-server/src/main/java/de/tum/cit/aet/helios/releasecandidate/ReleaseCandidate.java
Labels: ready for review, size:XS, application-server

#381 chore: Add mock staging deployment workflow
  .github/workflows/mock-staging-deployment-helios.yml
Labels: size:M, ready for review, github-config

#351 feat: Dynamic repo registration
  .github/labeler.yml
  docs/.gitignore
  docs/conf.py
  docs/development/production/ls1intum.rst
  docs/development/production/setup.rst
  docs/images/.gitkeep
  docs/index.rst
  server/application-server/src/main/java/de/tum/cit/aet/helios/branch/github/GitHubBranchSyncService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/commit/github/GitHubCommitSyncService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/config/AsyncConfig.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/github/GitHubDeploymentStatusMessageHandler.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/github/GitHubDeploymentSyncService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deploymentprotection/DeploymentProtectionRulePayload.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deploymentprotection/GitHubDeploymentProtectionRuleMessageHandler.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/github/GitHubEnvironmentSyncService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/status/EnvironmentStatusConfig.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/GitHubClientManager.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/GitHubCustomMessageHandler.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/GitHubFacade.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/GitHubFacadeImpl.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/GitHubMessageHandler.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/app/GitHubInstallationPayload.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/app/GitHubInstallationRepositoriesMessageHandler.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/sync/DataSyncStatus.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/sync/DataSyncStatusRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/sync/DataSyncStatusService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/sync/GitHubDataSyncOrchestrator.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/sync/GitHubDataSyncScheduler.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/sync/GitHubDataSyncService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitrepo/GitRepoRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitrepo/RepositoryService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitrepo/github/GitHubRepositorySyncService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/label/github/GitHubLabelSyncService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/nats/NatsConsumerService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/pullrequest/github/GitHubPullRequestSyncService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releasecandidate/ReleaseCandidateService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/user/github/GitHubUserSyncService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/util/RateLimitUtil.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/github/GitHubWorkflowRunSyncService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/github/GitHubWorkflowSyncService.java
  server/application-server/src/main/resources/application-dev.yml
  server/application-server/src/main/resources/application-prod.yml
  server/application-server/src/main/resources/db/migration/V10__add_on_delete_cascade.sql
  server/application-server/src/main/resources/db/migration/V9__add_new_fields_to_data_sync_status.sql
Labels: documentation, ready for review, size:XXL, github-config, application-server, feature

#341 feat: Implement pipeline for processing test workflow results
  client/src/app/components/pipeline/pipeline.component.html
  client/src/app/components/pipeline/pipeline.component.ts
  client/src/app/components/pipeline/test-results/pipeline-test-results.component.html
  client/src/app/components/pipeline/test-results/pipeline-test-results.component.ts
  client/src/app/core/modules/openapi/schemas.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  client/src/app/pages/project-settings/project-settings.component.ts
  client/src/icons.module.ts
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentScheduler.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/GitHubService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/TestCase.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/TestCaseRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/TestProcessingConfig.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/TestResultException.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/TestResultProcessor.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/TestSuite.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/TestSuiteRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/parsers/JunitParser.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/parsers/TestResultParseException.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/parsers/TestResultParser.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/Workflow.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/WorkflowRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/WorkflowRun.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/WorkflowRunController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/WorkflowRunDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/WorkflowRunRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/WorkflowRunService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/WorkflowService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/github/GitHubWorkflowRunConverter.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/github/GitHubWorkflowRunMessageHandler.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/github/GitHubWorkflowRunSyncService.java
  server/application-server/src/main/resources/db/migration/V11__test_results.sql
Labels: client, ready for review, size:XXL, application-server, feature, migration-script

#383 fix: Transaction warning because of a migration script
  server/application-server/src/main/resources/db/migration/V10__add_on_delete_cascade.sql
Labels: bug, ready for review, size:XS, application-server, migration-script

#358 feat: Staging deployments
  .vscode/launch.json
  client/package.json
  client/src/app/app.config.ts
  client/src/app/app.routes.ts
  client/src/app/components/deployment-selection/deployment-selection.component.html
  client/src/app/components/environments/deployment-state-tag/deployment-state-tag.component.html
  client/src/app/components/environments/deployment-state-tag/deployment-state-tag.component.ts
  client/src/app/components/environments/environment-list/environment-list-view.component.html
  client/src/app/components/environments/environment-list/environment-list-view.component.ts
  client/src/app/components/forms/environment-edit-form/environment-edit-form.component.html
  client/src/app/components/forms/environment-edit-form/environment-edit-form.component.ts
  client/src/app/components/release-candidate-deployment-table/release-candidate-deployment-table.component.html
  client/src/app/components/release-candidate-deployment-table/release-candidate-deployment-table.component.ts
  client/src/app/core/modules/openapi/schemas.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  client/src/app/pages/main-layout/main-layout.component.ts
  client/src/app/pages/project-settings/project-settings.component.html
  client/src/app/pages/project-settings/project-settings.component.ts
  client/src/app/pages/release-candidate-details/release-candidate-details.component.ts
  client/src/icons.module.ts
  client/yarn.lock
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/auth/AuthService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/DeployRequest.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/DeploymentService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/LatestDeploymentUnion.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/Environment.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/heliosdeployment/HeliosDeployment.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/heliosdeployment/HeliosDeploymentRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releasecandidate/ReleaseCandidateCreateDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releasecandidate/ReleaseCandidateDetailsDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releasecandidate/ReleaseCandidateService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/Workflow.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/WorkflowRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/WorkflowRunRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/WorkflowService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/github/GitHubWorkflowRunSyncService.java
  server/application-server/src/main/resources/application-dev.yml
  server/application-server/src/main/resources/db/migration/V12__add_environment_type_change_workflow_lables.sql
Labels: client, ready for review, size:XXL, application-server, feature, migration-script

#366 feat: Add delete of release candidates
  client/src/app/components/environments/environment-list/environment-list-view.component.html
  client/src/app/components/environments/environment-list/environment-list-view.component.ts
  client/src/app/core/modules/openapi/@tanstack/angular-query-experimental.gen.ts
  client/src/app/core/modules/openapi/sdk.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  client/src/app/pages/main-layout/main-layout.component.html
  client/src/app/pages/main-layout/main-layout.component.ts
  client/src/app/pages/project-settings/project-settings.component.html
  client/src/app/pages/project-settings/project-settings.component.ts
  client/src/app/pages/release-candidate-details/release-candidate-details.component.html
  client/src/app/pages/release-candidate-details/release-candidate-details.component.ts
  client/src/icons.module.ts
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/releasecandidate/ReleaseCandidate.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releasecandidate/ReleaseCandidateController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releasecandidate/ReleaseCandidateRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releasecandidate/ReleaseCandidateService.java
Labels: size:L, client, ready for review, application-server

#369 chore: Add replay integration for sentry
  client/src/main.ts
Labels: client, size:XS

#370 chore(deps): Update dependency vitest to v2.1.9 [SECURITY]
  client/package.json
  client/yarn.lock
Labels: size:L, client, ready for review

#371 chore(deps): Update dependency vite to v5.4.12 [SECURITY]
  client/yarn.lock
  keycloakify/package-lock.json
  keycloakify/package.json
  keycloakify/yarn.lock
Labels: client, size:XL, ready for review, dependencies, keycloakify

#359 feat: UI Refactoring
  client/angular.json
  client/public/favicon.ico
  client/public/favicon.png
  client/src/app/app.routes.ts
  client/src/app/components/connect-repo/connect-repo.component.html
  client/src/app/components/connect-repo/connect-repo.component.ts
  client/src/app/components/environments/environment-list/environment-list-view.component.html
  client/src/app/components/footer/footer.component.html
  client/src/app/components/footer/footer.component.ts
  client/src/app/components/navigation-bar/navigation-bar.component.html
  client/src/app/components/navigation-bar/navigation-bar.component.ts
  client/src/app/components/page-heading/page-heading.component.html
  client/src/app/components/page-heading/page-heading.component.ts
  client/src/app/components/profile-nav-section/profile-nav-section.component.html
  client/src/app/components/profile-nav-section/profile-nav-section.component.spec.ts
  client/src/app/components/profile-nav-section/profile-nav-section.component.ts
  client/src/app/components/pull-request-status-icon/pull-request-status-icon.component.html
  client/src/app/components/pull-request-status-icon/pull-request-status-icon.component.ts
  client/src/app/components/pull-request-table/pull-request-table.component.html
  client/src/app/components/pull-request-table/pull-request-table.component.ts
  client/src/app/components/report-problem-button/report-problem-button.component.html
  client/src/app/components/user-avatar/user-avatar.component.html
  client/src/app/components/user-avatar/user-avatar.component.ts
  client/src/app/components/user-lock-info/user-lock-info.component.html
  client/src/app/core/modules/markdown/markdown.pipe.ts
  client/src/app/core/services/keycloak/keycloak.service.ts
  client/src/app/pages/about/about.component.html
  client/src/app/pages/about/about.component.ts
  client/src/app/pages/branch-details/branch-details.component.html
  client/src/app/pages/branch-details/branch-details.component.spec.ts
  client/src/app/pages/branch-details/branch-details.component.ts
  client/src/app/pages/imprint/imprint.component.html
  client/src/app/pages/imprint/imprint.component.ts
  client/src/app/pages/main-layout/main-layout.component.html
  client/src/app/pages/main-layout/main-layout.component.ts
  client/src/app/pages/privacy/privacy.component.html
  client/src/app/pages/privacy/privacy.component.ts
  client/src/app/pages/pull-request-details/pull-request-details.component.html
  client/src/app/pages/pull-request-details/pull-request-details.component.ts
  client/src/app/pages/repository-overview/repository-overview.component.html
  client/src/app/pages/repository-overview/repository-overview.component.ts
  client/src/icons.module.ts
Labels: client, ready for review, size:XXL, feature

#380 feat: Deployment Progress Bar
  client/src/app/components/environments/deployment-state-tag/deployment-state-tag.component.ts
  client/src/app/components/environments/deployment-stepper/deployment-stepper.component.html
  client/src/app/components/environments/deployment-stepper/deployment-stepper.component.ts
  client/src/app/components/environments/environment-list/environment-list-view.component.html
  client/src/app/components/environments/environment-list/environment-list-view.component.ts
  client/src/app/core/modules/openapi/schemas.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/DeploymentService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/LatestDeploymentUnion.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/github/GitHubDeploymentSyncService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/heliosdeployment/HeliosDeployment.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/github/GitHubWorkflowRunSyncService.java
  server/application-server/src/main/resources/db/migration/V13__add_pr_to_helios_deployment.sql
  server/application-server/src/main/resources/db/migration/V14__add_missing_on_delete_cascade.sql
Labels: client, size:XL, ready for review, application-server, feature, migration-script

#387 fix: PR deployment match error
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/DeploymentService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/github/GitHubDeploymentSyncService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/pullrequest/PullRequestRepository.java
Labels: size:M, application-server, feature

#417 fix(keycloakify): Dont ignore lib folder
  .gitignore
  keycloakify/src/lib/utils.ts
Labels: size:S, keycloakify

#418 chore(deps): Add rules for keycloakify
  .github/renovate.json
Labels: github-config, size:S

#420 chore(deps): Update all non-major keycloakify dependencies
  keycloakify/dist_keycloak/keycloak-theme-for-kc-22-to-25.jar
  keycloakify/dist_keycloak/keycloak-theme-for-kc-all-other-versions.jar
  keycloakify/package-lock.json
  keycloakify/package.json
  keycloakify/src/kc.gen.tsx
  keycloakify/yarn.lock
Labels: ready for review, size:XXL, keycloakify

#372 chore(deps): Update codacy/codacy-coverage-reporter-action digest to a388184
  .github/workflows/test.yml
Labels: ready for review, size:XS, github-config, dependencies

#390 chore(deps): Update renovatebot/github-action action to v41.0.13
  .github/workflows/renovate.yml
Labels: ready for review, size:XS, github-config, dependencies

#421 chore(deps): Update actions/checkout action to v4
  .github/workflows/test.yml
Labels: ready for review, size:XS, github-config, dependencies

#375 chore(deps): Update all non-major webhook-listener dependencies
  server/webhook-listener/requirements.txt
Labels: ready for review, webhook-listener, size:S

#435 chore: Staging setup
  .github/workflows/build_docker.yml
  .github/workflows/staging.yml
  client/Dockerfile
  client/angular.json
  client/src/environments/environment.staging.ts
  server/application-server/src/main/resources/application-staging.yml
Labels: size:L, client, ready for review, github-config, application-server

#436 fix: Webhook-listener dependency update
  server/webhook-listener/requirements.txt
Labels: bug, size:XS, webhook-listener

#438 chore: Use fixed version for Keycloak and use concurrency for staging/prod deployments
  .github/workflows/prod.yml
  .github/workflows/staging.yml
  compose.prod.yaml
  compose.yaml
Labels: bug, ready for review, github-config, size:S

#388 fix: Deployment progress bar step transitions
  client/src/app/components/environments/deployment-stepper/deployment-stepper.component.ts
Labels: bug, client, size:XS

#424 chore: Add additional test server admin
  client/src/app/core/services/permission.service.ts
  server/application-server/src/main/java/de/tum/cit/aet/helios/config/GitHubJwtAuthenticationConverter.java
Labels: client, application-server, size:S

#443 chore: Update mock artemis workflows
  .github/workflows/deployment-helios.yml
  .github/workflows/mock-staging-deployment-helios.yml
Labels: github-config, size:S

#430 chore(deps): Update dependency eslint to v9
  .github/workflows/pullrequest_linting.yml
  keycloakify/.eslintrc.cjs
  keycloakify/eslint.config.cjs
  keycloakify/package-lock.json
  keycloakify/package.json
  keycloakify/src/components/theme-context.tsx
  keycloakify/src/login/KcPage.tsx
  keycloakify/src/main.tsx
  keycloakify/src/resources/logo.tsx
  keycloakify/yarn.lock
Labels: size:XL, ready for review, github-config, keycloakify

#422 chore(deps): Update dependency @sentry/angular to v9
  client/package.json
  client/yarn.lock
Labels: size:M, client

#373 chore(deps): Update all non-major application-server dependencies
  client/src/app/core/modules/openapi/@tanstack/angular-query-experimental.gen.ts
  client/src/app/core/modules/openapi/schemas.gen.ts
  client/src/app/core/modules/openapi/sdk.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  server/application-server/Dockerfile
  server/application-server/build.gradle
  server/application-server/gradle/wrapper/gradle-wrapper.jar
  server/application-server/gradle/wrapper/gradle-wrapper.properties
  server/application-server/gradlew
  server/application-server/openapi.yaml
Labels: size:L, client, ready for review, docker, application-server

#433 feat: Add pinning for prs and branches
  client/src/app/components/branches-table/branches-table.component.html
  client/src/app/components/branches-table/branches-table.component.ts
  client/src/app/components/pull-request-table/pull-request-table.component.html
  client/src/app/components/pull-request-table/pull-request-table.component.ts
  client/src/app/core/modules/openapi/@tanstack/angular-query-experimental.gen.ts
  client/src/app/core/modules/openapi/schemas.gen.ts
  client/src/app/core/modules/openapi/sdk.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  client/src/icons.module.ts
  docs/development/local/testing.rst
  server/application-server/build.gradle
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/auth/AuthService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/branch/Branch.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/branch/BranchController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/branch/BranchInfoDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/branch/BranchService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/DeploymentService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/pullrequest/PullRequest.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/pullrequest/PullRequestBaseInfoDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/pullrequest/PullRequestController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/pullrequest/PullRequestService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releasecandidate/ReleaseCandidateService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/userpreference/UserPreference.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/userpreference/UserPreferenceRepository.java
  server/application-server/src/main/resources/db/migration/V15__add_user_preference.sql
  server/application-server/src/test/java/de/tum/cit/aet/helios/branch/BranchControllerTest.java
  server/application-server/src/test/java/de/tum/cit/aet/helios/branch/BranchServiceTest.java
  server/application-server/src/test/java/de/tum/cit/aet/helios/pullrequest/PullRequestServiceTest.java
Labels: documentation, client, ready for review, size:XXL, application-server, migration-script

#447 feat: Dispatch workflows with unified inputs
  docs/development/production/ls1intum.rst
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/DeploymentService.java
Labels: documentation, size:M, application-server, feature

#452 fix: Locking/Unlocking problem
  client/src/app/components/environments/environment-list/environment-list-view.component.html
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/DeploymentService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/github/GitHubWorkflowRunSyncService.java
Labels: bug, size:M, client, ready for review, application-server

#455 fix: Disable button when no permission for locking
  client/src/app/components/environments/environment-list/environment-list-view.component.html
  client/src/app/components/environments/environment-list/environment-list-view.component.ts
Labels: bug, size:L, client

#456 chore: Update documentation
  docs/development/production/ls1intum.rst
Labels: documentation, ready for review, size:S
