Repository ls1intum/Helios, pull requests merged in 2025-06, with the labels that each got.

#770 test: ReleaseInfoService
  server/application-server/src/test/java/de/tum/cit/aet/helios/releaseinfo/ReleaseInfoServiceTest.java
Labels: size:XXL, application-server

#753 fix: smaller header and repository page
  client/src/app/components/profile-nav-section/profile-nav-section.component.html
  client/src/app/pages/main-layout/main-layout.component.html
  client/src/app/pages/repository-overview/repository-overview.component.html
  client/src/app/pages/repository-overview/repository-overview.component.ts
Labels: size:M, client

#771 feat: github error messages
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/DeploymentService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/error/GlobalExceptionHandler.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/GitHubService.java
  server/application-server/src/test/java/de/tum/cit/aet/helios/github/GitHubServiceTest.java
Labels: size:L, application-server

#775 chore: configure `de.tum.cit.aet.helios` logging to `DEBUG`
  server/application-server/build.gradle
  server/application-server/src/main/resources/application-prod.yml
  server/application-server/src/main/resources/application-staging.yml
Labels: bug, size:M, ready for review, application-server

#774 feat: workflow job status updates
  client/src/app/components/environments/environment-accordion/environment-accordion.component.html
  client/src/app/components/environments/environment-accordion/environment-accordion.component.ts
  client/src/app/components/environments/workflow-job-status/workflow-jobs-status.component.html
  client/src/app/components/environments/workflow-job-status/workflow-jobs-status.component.ts
  client/src/app/core/modules/openapi/@tanstack/angular-query-experimental.gen.ts
  client/src/app/core/modules/openapi/schemas.gen.ts
  client/src/app/core/modules/openapi/sdk.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  client/src/app/core/services/auth.service.ts
  client/src/app/core/services/github.service.ts
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/DeploymentController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/DeploymentService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/WorkflowJobDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/WorkflowJobsResponse.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/WorkflowStepDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/GitHubService.java
Labels: client, size:XL, application-server

#781 docs: add admin troubleshooting page & update folder structure
  docs/admin/setup.rst
  docs/admin/troubleshooting.rst
  docs/contributor/architecture.rst
  docs/contributor/keycloak_token_exchange.rst
  docs/contributor/migrations.rst
  docs/contributor/openapi.rst
  docs/contributor/setup.rst
  docs/contributor/start_app.rst
  docs/contributor/tech_stack.rst
  docs/contributor/testing.rst
  docs/contributor/webhook.rst
  docs/index.rst
  docs/user_guide/ls1intum.rst
Labels: documentation, size:L, ready for review

#778 fix: release candidate deploy table
  client/src/app/components/environments/deployment-state-tag/deployment-state-tag.component.html
  client/src/app/components/release-candidate-deployment-table/release-candidate-deployment-table.component.html
  client/src/app/components/release-candidate-table/release-candidate-table.component.html
  client/src/app/pages/release-candidate-details/release-candidate-details.component.html
Labels: bug, size:M, client, stale
