Repository ls1intum/Helios, pull requests merged in 2025-03, with the labels that each got.

#445 chore(deps): Update dependency eslint-config-prettier to v10
  client/package.json
  client/yarn.lock
Labels: client, ready for review, size:S

#465 feat: Add cross-commit test comparison in Pull Requests and branches
  client/src/app/components/pipeline/pipeline.component.html
  client/src/app/components/pipeline/pipeline.component.ts
  client/src/app/components/pipeline/test-results/pipeline-test-results.component.html
  client/src/app/components/pipeline/test-results/pipeline-test-results.component.ts
  client/src/app/core/modules/openapi/@tanstack/angular-query-experimental.gen.ts
  client/src/app/core/modules/openapi/schemas.gen.ts
  client/src/app/core/modules/openapi/sdk.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/TestResultController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/TestResultProcessor.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/TestResultService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/TestResultsDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/parsers/JunitParser.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/WorkflowRunController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/WorkflowRunDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/WorkflowRunRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/WorkflowRunService.java
  server/application-server/src/main/resources/db/migration/V16__remove_test_suite_unique_name_constraint.sql
Labels: client, ready for review, size:XXL, application-server, feature, migration-script

#448 feat: Add filter for failed tests + search
  client/src/app/components/pipeline/test-results/pipeline-test-results.component.html
  client/src/app/components/pipeline/test-results/pipeline-test-results.component.ts
Labels: size:M, client, ready for review, feature

#462 feat: select deployment workflow for environments
  client/src/app/app.config.ts
  client/src/app/components/environments/environment-list/environment-list-view.component.html
  client/src/app/components/environments/environment-list/environment-list-view.component.ts
  client/src/app/components/forms/environment-edit-form/environment-edit-form.component.html
  client/src/app/components/forms/environment-edit-form/environment-edit-form.component.ts
  client/src/app/components/locking-thresholds/locking-thresholds.component.html
  client/src/app/components/locking-thresholds/locking-thresholds.component.ts
  client/src/app/core/modules/openapi/schemas.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  client/src/app/pages/environment-edit/environment-edit.component.html
  client/src/app/pages/project-settings/project-settings.component.html
  client/src/app/pages/project-settings/project-settings.component.ts
  client/src/icons.module.ts
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/DeploymentService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/Environment.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitreposettings/WorkflowGroupRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitreposettings/WorkflowGroupService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/Workflow.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/WorkflowService.java
  server/application-server/src/main/resources/db/migration/V17__add_workflow_column_to_env_table.sql
Labels: client, ready for review, size:XXL, application-server, feature, migration-script

#472 feat: add search for repository overview
  client/src/app/pages/repository-overview/repository-overview.component.html
  client/src/app/pages/repository-overview/repository-overview.component.ts
Labels: client, ready for review, size:S, feature

#474 fix: Filter by repo id when querying branch workflow runs
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/TestResultService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/WorkflowRunService.java
Labels: bug, application-server, size:S

#434 chore: Fix codacy exclude paths
  .codacy.yaml
  .github/workflows/test.yml
  client/vite.config.mts
Labels: bug, client, ready for review, github-config, size:S

#480 refactor: fix checkstyle for notification service
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/DeploymentService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/github/GitHubEnvironmentSyncService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/app/GitHubInstallationRepositoriesMessageHandler.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitreposettings/GitRepoSettingsService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/nats/NatsConsumerService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/nats/NatsErrorListener.java
  server/notification/src/main/java/de/tum/cit/aet/notification/NatsNotificationConsumerService.java
  server/notification/src/main/java/de/tum/cit/aet/notification/NotificationApplication.java
  server/notification/src/main/java/de/tum/cit/aet/notification/ServletInitializer.java
  server/notification/src/main/java/de/tum/cit/aet/notification/StatusController.java
  server/notification/src/main/java/de/tum/cit/aet/notification/config/NatsConfig.java
  server/notification/src/test/java/de/tum/cit/aet/notification/NotificationApplicationTests.java
Labels: size:XL, ready for review, application-server, notification-server

#496 test: add tests for environment service and fix branch service test
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/Environment.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentService.java
  server/application-server/src/test/java/de/tum/cit/aet/helios/branch/BranchServiceTest.java
  server/application-server/src/test/java/de/tum/cit/aet/helios/environment/EnvironmentServiceTest.java
Labels: size:L, ready for review, application-server

#492 refactor: use required args constructor annotation
  server/application-server/lombok.config
  server/application-server/src/main/java/de/tum/cit/aet/helios/auth/AuthService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/branch/BranchController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/commit/CommitController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/commit/CommitService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/config/GitHubJwtAuthenticationConverter.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/config/SecurityConfig.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/DeploymentController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/LatestDeploymentUnion.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/github/adapter/GhDeploymentSourceAdapter.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/github/adapter/GitHubDeploymentSourceAdapter.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/GitHubDeploymentIterator.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/GitHubService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitrepo/RepositoryController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitrepo/RepositoryService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitreposettings/GitRepoSettingsController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitreposettings/GitRepoSettingsService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitreposettings/WorkflowGroupMembershipService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitreposettings/WorkflowGroupService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/http/HttpClientConfig.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/http/HttpClientRateLimitInterceptor.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/nats/NatsConfig.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/nats/NatsErrorListener.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/permissions/UserPermissionsController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/pullrequest/PullRequestController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/WorkflowController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/WorkflowRunController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/WorkflowRunService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/WorkflowService.java
Labels: size:L, application-server

#497 chore: add build step for keycloakify theme
  .github/workflows/build_docker.yml
  .github/workflows/deploy_docker.yml
  .github/workflows/prod.yml
  .github/workflows/staging.yml
  compose.prod.yaml
  compose.yaml
  keycloakify/.gitignore
  keycloakify/Dockerfile
  keycloakify/dist_keycloak/keycloak-theme-for-kc-22-to-25.jar
  keycloakify/dist_keycloak/keycloak-theme-for-kc-all-other-versions.jar
  keycloakify/package-lock.json
  keycloakify/yarn.lock
Labels: ready for review, size:XXL, github-config, keycloakify

#475 feat: Add behind by, ahead by and commits info for release candidate creation
  client/src/app/components/dialogs/release-candidate-create/release-candidate-create.component.html
  client/src/app/components/dialogs/release-candidate-create/release-candidate-create.component.ts
  client/src/app/core/modules/openapi/schemas.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/releasecandidate/CommitsSinceReleaseCandidateDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releasecandidate/ReleaseCandidateService.java
  server/application-server/src/main/resources/application-dev.yml
Labels: size:L, client, ready for review, application-server, feature

#498 feat: Add sync button for workflows
  client/src/app/core/modules/openapi/@tanstack/angular-query-experimental.gen.ts
  client/src/app/core/modules/openapi/sdk.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  client/src/app/pages/project-settings/project-settings.component.html
  client/src/app/pages/project-settings/project-settings.component.ts
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/WorkflowController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/WorkflowService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/github/GitHubWorkflowSyncService.java
Labels: size:L, client, application-server, feature

#493 chore: add release pipeline for sentry
  .github/workflows/prod.yml
  .github/workflows/release-sentry.yml
  .github/workflows/staging.yml
  client/angular.json
Labels: size:M, client, ready for review, github-config

#521 chore(keycloakify): move maven installation before copy of package.js…
  keycloakify/Dockerfile
Labels: size:XS, keycloakify

#537 chore: optimize Webhook Listener's dependencies
  server/webhook-listener/app/nats_client.py
  server/webhook-listener/requirements.txt
Labels: size:M, ready for review, webhook-listener

#536 fix: include Git LFS assets in builds
  .github/workflows/build_docker.yml
  .github/workflows/docs.yml
Labels: bug, ready for review, size:XS, github-config

#538 fix: track favicon.png with Git LFS
  client/public/favicon.png
Labels: bug, client, ready for review, size:XS

#545 chore: enable feature preview for keycloak
  compose.prod.yaml
  compose.yaml
Labels: size:XS

#539 chore(docs): add community standards files
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
  SECURITY.md
Labels: size:L, ready for review

#540 feat: link pr in the env view
  client/src/app/components/environments/environment-list/environment-list-view.component.html
  client/src/app/components/environments/environment-list/environment-list-view.component.ts
  client/src/app/core/modules/openapi/schemas.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  client/src/app/pages/ci-cd/ci-cd.component.ts
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/LatestDeploymentUnion.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentDto.java
Labels: size:L, client, ready for review, application-server, feature

#534 feat: add direct links to Helios from GitHub pull requests
  docs/development/local/setup.rst
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/GitHubFacade.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/GitHubFacadeImpl.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/GitHubService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/pullrequest/github/GitHubPullRequestMessageHandler.java
  server/application-server/src/main/resources/application-dev.yml
  server/application-server/src/main/resources/application-prod.yml
  server/application-server/src/main/resources/application-staging.yml
Labels: documentation, size:L, ready for review, application-server, feature

#500 feat: E2E Test Parsing
  .gitignore
  client/src/app/components/pipeline/test-results/pipeline-test-results.component.html
  client/src/app/components/pipeline/test-results/pipeline-test-results.component.ts
  client/src/app/core/modules/openapi/@tanstack/angular-query-experimental.gen.ts
  client/src/app/core/modules/openapi/schemas.gen.ts
  client/src/app/core/modules/openapi/sdk.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/GroupedTestResultsDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/TestResultController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/TestResultProcessor.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/TestResultService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/TestResultsDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/parsers/JunitParser.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/parsers/TestResultParseException.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/parsers/TestResultParser.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/WorkflowRunRepository.java
Labels: client, ready for review, size:XXL, application-server, feature

#464 feat: Enhance Deployment Progress Bar
  client/src/app/components/environments/deployment-state-tag/deployment-state-tag.component.html
  client/src/app/components/environments/deployment-state-tag/deployment-state-tag.component.ts
  client/src/app/components/environments/deployment-stepper/deployment-stepper.component.html
  client/src/app/components/environments/deployment-stepper/deployment-stepper.component.ts
  client/src/app/components/environments/environment-list/environment-list-view.component.html
  client/src/app/core/services/deployment-timing.service.ts
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/LatestDeploymentUnion.java
Labels: client, size:XL, ready for review, application-server, feature

#571 feat: Truncate pipeline names + fix wrap in environment list
  client/src/app/components/environments/environment-list/environment-list-view.component.html
  client/src/app/components/pipeline/pipeline.component.html
Labels: size:L, client, feature

#577 fix: WorkflowRun event listener for worflow_run event type
  docs/development/local/setup.rst
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/GitHubWorkflowContext.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/WorkflowRun.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/WorkflowRunService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/github/GitHubWorkflowRunMessageHandler.java
  server/application-server/src/main/resources/application-dev.yml
  server/application-server/src/main/resources/application-prod.yml
  server/application-server/src/main/resources/application-staging.yml
  server/application-server/src/main/resources/db/migration/V18__add_new_column_to_workflow_run.sql
Labels: bug, documentation, size:L, ready for review, application-server, migration-script

#526 fix: add proper id for branch in repository
  server/application-server/src/main/java/de/tum/cit/aet/helios/branch/BranchRepository.java
Labels: bug, ready for review, size:XS, application-server

#588 fix: vitest segfault
  client/package.json
  client/vite.config.mts
  client/yarn.lock
Labels: client, size:S

#584 fix: PR Table View
  client/src/app/components/pull-request-table/pull-request-table.component.html
Labels: bug, client, size:XS

#585 feat: Environment name added to activity history
  client/src/app/pages/environment-deployment-history/environment-deployment-history.component.html
  client/src/app/pages/environment-deployment-history/environment-deployment-history.component.ts
Labels: client, size:S, feature

#586 fix: Get branch on push event error
  server/application-server/src/main/java/de/tum/cit/aet/helios/commit/github/GitHubPushMessageHandler.java
Labels: bug, size:XS, application-server

#442 feat: show all environments everywhere
  client/src/app/components/deployment-selection/deployment-selection.component.html
  client/src/app/components/environments/deployment-state-tag/deployment-state-tag.component.ts
  client/src/app/components/environments/deployment-stepper/deployment-stepper.component.html
  client/src/app/components/environments/deployment-stepper/deployment-stepper.component.ts
  client/src/app/components/environments/environment-accordion/environment-accordion.component.html
  client/src/app/components/environments/environment-accordion/environment-accordion.component.ts
  client/src/app/components/environments/environment-actions/environment-actions.component.html
  client/src/app/components/environments/environment-actions/environment-actions.component.ts
  client/src/app/components/environments/environment-details/environment-details.component.html
  client/src/app/components/environments/environment-details/environment-details.component.ts
  client/src/app/components/environments/environment-list/environment-list-view.component.html
  client/src/app/components/environments/environment-list/environment-list-view.component.ts
  client/src/app/components/release-candidate-deployment-table/release-candidate-deployment-table.component.html
  client/src/app/components/release-candidate-deployment-table/release-candidate-deployment-table.component.ts
  client/src/icons.module.ts
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/DeploymentService.java
  server/application-server/src/test/java/de/tum/cit/aet/helios/deployment/DeploymentServiceTest.java
Labels: client, size:XL, ready for review, application-server, feature

#589 fix: check if date is null before comparing
  server/application-server/src/main/java/de/tum/cit/aet/helios/branch/BranchService.java
Labels: bug, size:XS, application-server

#441 feat: Add gh release integration
  client/src/app/components/deployment-selection/deployment-selection.component.ts
  client/src/app/components/environments/environment-accordion/environment-accordion.component.ts
  client/src/app/components/release-candidate-deployment-table/release-candidate-deployment-table.component.ts
  client/src/app/components/release-candidate-table/release-candidate-table.component.html
  client/src/app/components/release-candidate-table/release-candidate-table.component.ts
  client/src/app/core/modules/openapi/@tanstack/angular-query-experimental.gen.ts
  client/src/app/core/modules/openapi/schemas.gen.ts
  client/src/app/core/modules/openapi/sdk.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  client/src/app/pages/branch-details/branch-details.component.html
  client/src/app/pages/pull-request-details/pull-request-details.component.html
  client/src/app/pages/release-candidate-details/release-candidate-details.component.html
  client/src/app/pages/release-candidate-details/release-candidate-details.component.ts
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/branch/BranchDetailsDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/branch/BranchService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/commit/github/GitHubCommitSyncService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/commit/github/GitHubPushMessageHandler.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/DeployRequest.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/DeploymentService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentLockHistoryDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/error/GlobalExceptionHandler.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/sync/GitHubDataSyncOrchestrator.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/sync/GitHubDataSyncService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releasecandidate/ReleaseCandidateInfoDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/ReleaseInfoController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/ReleaseInfoDetailsDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/ReleaseInfoListDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/ReleaseInfoService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/release/Release.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/release/ReleaseDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/release/ReleaseRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/release/github/GitHubReleaseConverter.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/release/github/GitHubReleaseMessageHandler.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/release/github/GitHubReleaseSyncService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/releasecandidate/CommitsSinceReleaseCandidateDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/releasecandidate/ReleaseCandidate.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/releasecandidate/ReleaseCandidateCreateDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/releasecandidate/ReleaseCandidateEvaluation.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/releasecandidate/ReleaseCandidateEvaluationId.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/releasecandidate/ReleaseCandidateEvaluationRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/releasecandidate/ReleaseCandidateException.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/releasecandidate/ReleaseCandidateId.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/releasecandidate/ReleaseCandidateRepository.java
  server/application-server/src/main/resources/db/migration/V20__add_ghrelease.sql
  server/application-server/src/test/java/de/tum/cit/aet/helios/branch/BranchControllerTest.java
  server/application-server/src/test/java/de/tum/cit/aet/helios/branch/BranchServiceTest.java
  server/application-server/src/test/java/de/tum/cit/aet/helios/deployment/DeploymentServiceTest.java
  server/application-server/src/test/java/de/tum/cit/aet/helios/environment/EnvironmentServiceTest.java
Labels: client, ready for review, size:XXL, application-server, migration-script

#599 refactor: apply header, sidebar and footer ui guidelines
  client/src/app/components/footer/footer.component.html
  client/src/app/components/footer/footer.component.ts
  client/src/app/components/navigation-bar/navigation-bar.component.html
  client/src/app/components/navigation-bar/navigation-bar.component.ts
  client/src/app/components/profile-nav-section/profile-nav-section.component.html
  client/src/app/components/profile-nav-section/profile-nav-section.component.ts
  client/src/app/pages/main-layout/main-layout.component.html
  client/src/app/pages/main-layout/main-layout.component.ts
Labels: size:L, client

#590 feat: auto approve deployments
  docs/development/local/keycloak_token_exchange.rst
  docs/images/token_exchange/client-credentials.png
  docs/images/token_exchange/confidential-client.png
  helios-example-realm.json
  keycloakify/Dockerfile
  server/application-server/.env.example
  server/application-server/src/main/java/de/tum/cit/aet/helios/auth/github/GitHubAuthBroker.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/auth/github/TokenExchangeResponse.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/approval/ApprovalService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/github/GitHubDeploymentStatusMessageHandler.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/GitHubService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/heliosdeployment/HeliosDeployment.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/heliosdeployment/HeliosDeploymentRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/github/GitHubWorkflowRunSyncService.java
  server/application-server/src/main/resources/application-dev.yml
  server/application-server/src/main/resources/application-openapi.yml
  server/application-server/src/main/resources/application-prod.yml
  server/application-server/src/main/resources/application-staging.yml
  server/application-server/src/main/resources/db/migration/V21__store_workflow_run_id_helios_deployment.sql
Labels: documentation, size:XL, ready for review, application-server, keycloakify, migration-script

#602 fix: add missing env variables
  .github/workflows/deploy_docker.yml
  compose.prod.yaml
  docs/development/local/keycloak_token_exchange.rst
Labels: documentation, github-config, size:S

#601 feat: change project page to card view
  client/src/app/components/branches-table/branches-table.component.html
  client/src/app/components/pull-request-table/pull-request-table.component.html
  client/src/app/components/release-candidate-table/release-candidate-table.component.html
  client/src/app/components/table-filter/table-filter.component.ts
  client/src/app/core/modules/openapi/schemas.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  client/src/app/core/services/repository.service.ts
  client/src/app/core/services/search-dataview.service.ts
  client/src/app/pages/repository-overview/repository-overview.component.html
  client/src/app/pages/repository-overview/repository-overview.component.ts
  client/src/icons.module.ts
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitrepo/GitRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitrepo/RepositoryInfoDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitrepo/github/GitHubRepositoryConverter.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitrepo/github/GitHubRepositorySyncService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/ReleaseInfoDetailsDto.java
  server/application-server/src/main/resources/db/migration/V22__add_repository_stats.sql
  server/application-server/src/test/java/de/tum/cit/aet/helios/branch/BranchControllerTest.java
Labels: size:L, client, application-server, migration-script

#592 feat: First flaky test detection
  client/src/app/components/pipeline/test-results/pipeline-test-results.component.html
  client/src/app/components/pipeline/test-results/pipeline-test-results.component.ts
  client/src/app/core/modules/openapi/schemas.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/TestCase.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/TestCaseStatistics.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/TestCaseStatisticsRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/TestCaseStatisticsService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/TestResultProcessor.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/TestResultService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/TestResultsDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/TestSuite.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/Workflow.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/WorkflowRun.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/WorkflowRunRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/WorkflowRunService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/github/GitHubWorkflowRunMessageHandler.java
  server/application-server/src/main/resources/db/migration/V23__add_test_case_statistics.sql
Labels: client, size:XL, ready for review, application-server, feature, migration-script

#603 feat: show reviewers in helios client
  client/src/app/components/environments/environment-actions/environment-actions.component.html
  client/src/app/components/environments/environment-actions/environment-actions.component.ts
  client/src/app/components/environments/environment-reviewers/environment-reviewers.component.html
  client/src/app/components/environments/environment-reviewers/environment-reviewers.component.ts
  client/src/app/core/modules/openapi/@tanstack/angular-query-experimental.gen.ts
  client/src/app/core/modules/openapi/schemas.gen.ts
  client/src/app/core/modules/openapi/sdk.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  client/src/icons.module.ts
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentReviewersDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/github/GitHubEnvironmentConverter.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/github/GitHubEnvironmentDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/github/GitHubEnvironmentProtectionRuleDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/github/GitHubEnvironmentSyncService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/protectionrules/ProtectionRule.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/protectionrules/ProtectionRuleRepository.java
  server/application-server/src/main/resources/db/migration/V24__protection_rules_table.sql
Labels: client, size:XL, application-server, migration-script

#605 fix: update protection rules
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/github/GitHubEnvironmentConverter.java
Labels: bug, application-server, size:S

#607 fix: wrong branch information
  server/application-server/src/main/java/de/tum/cit/aet/helios/branch/BranchInfoDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/branch/BranchService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/commit/CommitRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitrepo/GitRepoRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitrepo/RepositoryService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/ReleaseInfoService.java
  server/application-server/src/test/java/de/tum/cit/aet/helios/branch/BranchServiceTest.java
Labels: bug, size:M, ready for review, application-server

#606 fix: Release candidates sorting order
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/ReleaseInfoService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/releasecandidate/ReleaseCandidateRepository.java
Labels: bug, size:XS, application-server

#604 feat: Define multiple test types and show logs/stacktrace
  .vscode/settings.json
  client/src/app/components/pipeline/test-results/pipeline-test-results.component.html
  client/src/app/components/pipeline/test-results/pipeline-test-results.component.ts
  client/src/app/core/modules/openapi/@tanstack/angular-query-experimental.gen.ts
  client/src/app/core/modules/openapi/schemas.gen.ts
  client/src/app/core/modules/openapi/sdk.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  client/src/app/pages/project-settings/project-settings.component.html
  client/src/app/pages/project-settings/project-settings.component.ts
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/error/GlobalExceptionHandler.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/GroupedTestResultsDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/TestCase.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/TestResultController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/TestResultProcessor.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/TestResultService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/TestResultsDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/TestSuite.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/parsers/JunitParser.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/parsers/TestResultParser.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/type/TestType.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/type/TestTypeController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/type/TestTypeDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/type/TestTypeNameConflictException.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/type/TestTypeRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/type/TestTypeService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/Workflow.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/github/GitHubWorkflowRunMessageHandler.java
  server/application-server/src/main/resources/db/migration/V25__add_test_type.sql
Labels: client, ready for review, size:XXL, application-server, feature, migration-script
