Repository ls1intum/Helios, pull requests merged in 2025-01, with the labels that each got.

#129 chore(deps): Update dependency jinja2 to v3.1.5 [SECURITY]
  server/webhook-listener/requirements.txt
Labels: ready for review, size:XS, webhook-listener, stale

#137 refactor: Page layout and include repository data
  client/src/app/app.component.ts
  client/src/app/app.config.ts
  client/src/app/app.routes.ts
  client/src/app/components/branches-table/branches-table.component.html
  client/src/app/components/environments/environment-list/environment-list-view.component.html
  client/src/app/components/page-heading/page-heading.component.html
  client/src/app/components/page-heading/page-heading.component.spec.ts
  client/src/app/components/page-heading/page-heading.component.ts
  client/src/app/components/pipeline/pipeline.component.html
  client/src/app/components/pull-request-table/pull-request-table.component.html
  client/src/app/core/modules/openapi/@tanstack/angular-query-experimental.gen.ts
  client/src/app/core/modules/openapi/sdk.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  client/src/app/pages/branch-details/branch-details.component.ts
  client/src/app/pages/ci-cd/ci-cd.component.html
  client/src/app/pages/ci-cd/ci-cd.component.ts
  client/src/app/pages/environment-deployment-history/environment-deployment-history.component.html
  client/src/app/pages/environment-list/environment-list.component.html
  client/src/app/pages/environment-list/environment-list.component.ts
  client/src/app/pages/main-layout/main-layout.component.html
  client/src/app/pages/main-layout/main-layout.component.ts
  client/src/app/pages/project-settings/project-settings.component.html
  client/src/app/pages/project-settings/project-settings.component.ts
  client/src/app/pages/pull-request-details/pull-request-details.component.ts
  client/src/app/pages/release/release.component.html
  client/src/app/pages/release/release.component.ts
  client/src/app/pages/repository-overview/repository-overview.component.html
  client/src/app/pages/repository-overview/repository-overview.component.spec.ts
  client/src/app/pages/repository-overview/repository-overview.component.ts
  client/src/icons.module.ts
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitrepo/RepositoryController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitrepo/RepositoryService.java
Labels: client, size:XL, ready for review, application-server

#136 feat: Improve pull request table view and add reviewer and labels
  client/src/app/components/pull-request-table/pull-request-table.component.html
  client/src/app/components/pull-request-table/pull-request-table.component.ts
  client/src/app/components/table-filter/table-filter.component.html
  client/src/app/components/table-filter/table-filter.component.ts
  client/src/app/core/modules/openapi/schemas.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  client/src/app/core/services/search-table.service.ts
  client/src/icons.module.ts
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/pullrequest/PullRequestBaseInfoDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/pullrequest/PullRequestController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/pullrequest/PullRequestService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/pullrequest/github/GitHubPullRequestSyncService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/user/User.java
Labels: client, size:XL, ready for review, application-server

#142 feat: Improve branches table view
  client/src/app/components/branches-table/branches-table.component.html
  client/src/app/components/branches-table/branches-table.component.ts
  client/src/app/core/modules/openapi/schemas.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  client/src/icons.module.ts
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/branch/Branch.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/branch/BranchInfoDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/branch/github/GitHubBranchSyncService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/branch/github/GitHubCreateMessageHandler.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/commit/github/GitHubPushMessageHandler.java
Labels: size:L, client, ready for review, application-server

#162 fix: Handle commit users with no linked gh account
  server/application-server/src/main/java/de/tum/cit/aet/helios/branch/github/GitHubBranchSyncService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/commit/github/GitHubCommitSyncService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/pullrequest/github/GitHubPullRequestSyncService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/user/github/GitHubUserConverter.java
Labels: bug, size:M, application-server

#173 fix: Branch Detail Not Loading
  client/src/app/core/modules/openapi/sdk.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  client/src/app/pages/branch-details/branch-details.component.ts
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/branch/BranchController.java
Labels: bug, client, application-server, size:S

#143 feat: Update Deployment Logic and Locking & Unlocking Environments
  client/src/app/app.component.ts
  client/src/app/components/environments/environment-list/environment-list-view.component.html
  client/src/app/components/environments/environment-list/environment-list-view.component.ts
  client/src/app/components/environments/lock-time/lock-time.component.html
  client/src/app/components/environments/lock-time/lock-time.component.ts
  client/src/app/core/modules/openapi/@tanstack/angular-query-experimental.gen.ts
  client/src/app/core/modules/openapi/schemas.gen.ts
  client/src/app/core/modules/openapi/sdk.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  client/src/app/pages/main-layout/main-layout.component.html
  client/src/app/pages/main-layout/main-layout.component.ts
  client/src/icons.module.ts
  server/application-server/build.gradle
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/auth/AuthService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/branch/BranchService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/DeploymentController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/DeploymentService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/Environment.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentLockHistory.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentLockHistoryDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentLockHistoryRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/heliosdeployment/HeliosDeployment.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/heliosdeployment/HeliosDeploymentRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/pullrequest/PullRequestRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/github/GitHubWorkflowRunSyncService.java
  server/application-server/src/main/resources/application-dev.yml
Labels: client, size:XL, ready for review, application-server, feature

#181 fix: Fetch last commit
  client/src/app/components/environments/deployment-info/environment-deployment-info.component.ts
  server/application-server/src/main/java/de/tum/cit/aet/helios/commit/CommitController.java
Labels: bug, client, application-server, size:S

#174 feat: Get PR Labels and Show in Client
  client/src/app/components/pull-request-table/pull-request-table.component.html
  client/src/app/components/pull-request-table/pull-request-table.component.ts
  client/src/app/core/modules/openapi/schemas.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/sync/GitHubDataSyncService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitrepo/GitRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/issue/Issue.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/label/Label.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/label/LabelInfoDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/label/LabelRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/label/github/GitHubLabelConverter.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/label/github/GitHubLabelMessageHandler.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/label/github/GitHubLabelSyncService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/pullrequest/PullRequestBaseInfoDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/pullrequest/PullRequestInfoDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/pullrequest/github/GitHubPullRequestSyncService.java
Labels: client, size:XL, ready for review, application-server

#196 fix: Fetch Workflow Runs error resolved
  client/src/app/components/pipeline/pipeline.component.ts
  client/src/app/core/modules/openapi/sdk.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/WorkflowRunController.java
Labels: bug, size:M, client, application-server

#192 chore(deps): Update angular-eslint monorepo to v19 (major)
  client/package.json
  client/yarn.lock
Labels: size:L, client, ready for review

#171 fix: Update `GitRepository` Entity to fix the `repository_id` Filter Problem
  server/application-server/src/main/java/de/tum/cit/aet/helios/branch/BranchRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/branch/BranchService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/branch/github/GitHubBranchSyncService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/commit/CommitRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/commit/CommitService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/commit/github/GitHubCommitSyncService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/DeploymentService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/github/GitHubDeploymentStatusMessageHandler.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/github/GitHubDeploymentSyncService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitrepo/GitRepoRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitrepo/GitRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitrepo/RepositoryInfoDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitrepo/RepositoryService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitrepo/github/GitHubRepositoryConverter.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitrepo/github/GitHubRepositorySyncService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitreposettings/GitRepoSettingsRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitreposettings/WorkflowGroupMembershipRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitreposettings/WorkflowGroupRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitreposettings/WorkflowGroupService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/label/LabelRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/pullrequest/PullRequestRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/pullrequest/PullRequestService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/WorkflowRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/WorkflowService.java
Labels: bug, size:L, ready for review, application-server

#179 fix: Harmonize client, fix table filters and remove settings icon
  client/src/app/components/branches-table/branches-table.component.html
  client/src/app/components/deployment-selection/deployment-selection.component.html
  client/src/app/components/environments/deployment-info/environment-deployment-info.component.html
  client/src/app/components/page-heading/page-heading.component.html
  client/src/app/components/pipeline/pipeline.component.html
  client/src/app/components/pull-request-table/pull-request-table.component.html
  client/src/app/components/pull-request-table/pull-request-table.component.ts
  client/src/app/core/services/github.service.ts
  client/src/app/core/services/keycloak/keycloak.service.ts
  client/src/app/pages/branch-details/branch-details.component.html
  client/src/app/pages/main-layout/main-layout.component.ts
  client/src/app/pages/project-settings/project-settings.component.html
  client/src/app/pages/pull-request-details/pull-request-details.component.html
  client/src/app/pages/repository-overview/repository-overview.component.html
  client/src/icons.module.ts
Labels: bug, size:L, client

#189 chore(deps): Update all non-major client dependencies
  client/.nvmrc
  client/Dockerfile.dev
  client/package.json
  client/src/app/core/modules/openapi/@tanstack/angular-query-experimental.gen.ts
  client/yarn.lock
Labels: client, ready for review, size:XXL, docker

#132 chore(deps): Update all non-major github-actions dependencies
  .github/workflows/deploy_docker.yml
  .github/workflows/renovate.yml
Labels: github-config, size:S, dependencies

#133 chore(deps): Update all non-major notification-server dependencies
  server/notification/build.gradle
  server/notification/gradle/wrapper/gradle-wrapper.properties
  server/notification/gradlew
  server/notification/src/main/resources/application.yml
Labels: ready for review, size:S, notification-server

#131 chore(deps): Update all non-major application-server dependencies
  client/package.json
  client/src/app/core/modules/openapi/@tanstack/angular-query-experimental.gen.ts
  client/src/app/core/modules/openapi/schemas.gen.ts
  client/src/app/core/modules/openapi/sdk.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  client/yarn.lock
  server/application-server/Dockerfile
  server/application-server/build.gradle
  server/application-server/gradle/wrapper/gradle-wrapper.properties
  server/application-server/gradlew
  server/application-server/openapi.yaml
Labels: size:L, client, ready for review, docker, application-server

#191 chore(deps): Update dependency urllib3 to v2.3.0
  docs/requirements.txt
Labels: documentation, ready for review, size:XS

#190 feat: Get repo permissions
  client/src/app/app.routes.ts
  client/src/app/components/connect-repo/connect-repo.component.spec.ts
  client/src/app/components/deployment-selection/deployment-selection.component.html
  client/src/app/components/deployment-selection/deployment-selection.component.ts
  client/src/app/components/environments/environment-list/environment-list-view.component.html
  client/src/app/components/environments/environment-list/environment-list-view.component.ts
  client/src/app/core/middlewares/repository-filter.guard.ts
  client/src/app/core/modules/openapi/@tanstack/angular-query-experimental.gen.ts
  client/src/app/core/modules/openapi/schemas.gen.ts
  client/src/app/core/modules/openapi/sdk.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  client/src/app/core/routeGuards/maintainer.guard.ts
  client/src/app/core/services/github.service.ts
  client/src/app/core/services/permission.service.ts
  client/src/app/core/services/repository.service.ts
  client/src/app/pages/main-layout/main-layout.component.html
  client/src/app/pages/main-layout/main-layout.component.spec.ts
  client/src/app/pages/main-layout/main-layout.component.ts
  helios-example-realm.json
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/GitHubService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/permissions/GitHubPermissionsResponse.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/permissions/GitHubRepositoryRoleDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/permissions/PermissionException.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/permissions/RepoPermissionType.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/permissions/UserPermissionsController.java
Labels: client, ready for review, size:XXL, application-server

#204 fix: Permission error
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/GitHubService.java
Labels: bug, size:XS, application-server

#206 fix: Changed Request Builder for Github Service
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/GitHubService.java
Labels: bug, application-server, size:S

#201 feat: Multiple deployment with one locking
  client/src/app/components/environments/environment-list/environment-list-view.component.html
  client/src/app/components/environments/environment-list/environment-list-view.component.ts
  client/src/app/core/services/keycloak/keycloak.service.ts
  client/src/app/pages/project-settings/project-settings.component.ts
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/DeploymentService.java
Labels: size:M, client, ready for review, application-server, feature

#127 docs: Improve documentation on setup and running the app
  README.md
  docs/development/local/openapi.rst
  docs/development/local/setup.rst
  docs/development/local/start_app.rst
  docs/development/local/webhook.rst
  docs/development/production/setup.rst
  docs/index.rst
  docs/navigation_bar/assessment/accept-complaint.png
  docs/navigation_bar/assessment/assessment-dashboard-button.png
  docs/navigation_bar/assessment/assessment-dashboard.png
  docs/navigation_bar/assessment/complaint-submission.png
  docs/navigation_bar/assessment/exercise-dashboard.png
  docs/navigation_bar/assessment/grading-criteria.png
  docs/navigation_bar/assessment/instructor-example-assessment.png
  docs/navigation_bar/assessment/instructor-example-submission.png
  docs/navigation_bar/assessment/leaderboard.png
  docs/navigation_bar/assessment/lock.png
  docs/navigation_bar/assessment/more-feedback.png
  docs/navigation_bar/assessment/reject-complaint.png
  docs/navigation_bar/assessment/reviewer-assess-correctly.png
  docs/navigation_bar/assessment/reviewer-assessment-instructions.png
  docs/navigation_bar/assessment/reviewer-exercise-status.png
  docs/navigation_bar/assessment/reviewer-read-confirm.png
  docs/navigation_bar/assessment/student-feedback.png
  docs/requirements.txt
  docs/system/architecture.rst
  docs/system/tech_stack.rst
  server/application-server/README.md
  server/webhook-listener/README.md
Labels: documentation, size:L, ready for review, webhook-listener, application-server

#134 chore(deps): Update all non-major webhook-listener dependencies
  server/webhook-listener/requirements.txt
Labels: ready for review, webhook-listener, size:S

#213 chore: Update domain to helios.aet.cit.tum.de
  client/src/environments/environment.prod.ts
  nginx.conf
  server/application-server/src/main/java/de/tum/cit/aet/helios/config/SecurityConfig.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/user/github/GitHubUserConverter.java
Labels: client, ready for review, application-server, size:S

#199 feat: Custom Keycloakify theme
  .github/labeler.yml
  compose.prod.yaml
  compose.yaml
  helios-example-realm.json
  keycloakify/.eslintrc.cjs
  keycloakify/.gitignore
  keycloakify/.prettierignore
  keycloakify/.prettierrc.json
  keycloakify/.storybook/main.ts
  keycloakify/.storybook/preview-head.html
  keycloakify/.storybook/preview.ts
  keycloakify/LICENSE
  keycloakify/README.md
  keycloakify/components.json
  keycloakify/dist_keycloak/keycloak-theme-for-kc-22-to-25.jar
  keycloakify/dist_keycloak/keycloak-theme-for-kc-all-other-versions.jar
  keycloakify/index.html
  keycloakify/package-lock.json
  keycloakify/package.json
  keycloakify/postcss.config.js
  keycloakify/public/favicon.png
  keycloakify/src/components/theme-context.tsx
  keycloakify/src/components/theme-switcher.tsx
  keycloakify/src/components/ui/alert.tsx
  keycloakify/src/components/ui/button.tsx
  keycloakify/src/components/ui/input.tsx
  keycloakify/src/components/ui/label.tsx
  keycloakify/src/kc.gen.tsx
  keycloakify/src/login/KcContext.ts
  keycloakify/src/login/KcPage.tsx
  keycloakify/src/login/KcPageStory.tsx
  keycloakify/src/login/Template.tsx
  keycloakify/src/login/UserProfileFormFields.tsx
  keycloakify/src/login/i18n.ts
  keycloakify/src/login/index.css
  keycloakify/src/login/pages/Error.stories.tsx
  keycloakify/src/login/pages/Error.tsx
  keycloakify/src/login/pages/Info.stories.tsx
  keycloakify/src/login/pages/Info.tsx
  keycloakify/src/login/pages/Login.stories.tsx
  keycloakify/src/login/pages/Login.tsx
  keycloakify/src/login/pages/LoginPageExpired.stories.tsx
  keycloakify/src/login/pages/LoginPageExpired.tsx
  keycloakify/src/login/pages/LoginUpdateProfile.stories.tsx
  keycloakify/src/login/pages/LoginUpdateProfile.tsx
  keycloakify/src/main.tsx
  keycloakify/src/resources/helios.png
  keycloakify/src/resources/logo.tsx
  keycloakify/src/vite-env.d.ts
  keycloakify/tailwind.config.js
  keycloakify/tsconfig.json
  keycloakify/tsconfig.node.json
  keycloakify/vite.config.ts
  keycloakify/yarn.lock
Labels: ready for review, size:XXL, github-config

#200 feat: Add functionality to disable environments
  client/src/app/components/deployment-selection/deployment-selection.component.ts
  client/src/app/components/environments/environment-list/environment-list-view.component.html
  client/src/app/components/environments/environment-list/environment-list-view.component.ts
  client/src/app/components/forms/environment-edit-form/environment-edit-form.component.html
  client/src/app/components/forms/environment-edit-form/environment-edit-form.component.ts
  client/src/app/core/modules/openapi/@tanstack/angular-query-experimental.gen.ts
  client/src/app/core/modules/openapi/schemas.gen.ts
  client/src/app/core/modules/openapi/sdk.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  client/src/app/pages/environment-edit/environment-edit.component.html
  client/src/app/pages/environment-edit/environment-edit.component.ts
  client/src/app/pages/main-layout/main-layout.component.ts
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/Environment.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentException.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentLockHistoryRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentService.java
Labels: size:L, client, ready for review, application-server, feature

#225 feat: Create issue form
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/2-feature-request.yml
Labels: size:M, github-config

#218 fix: Workflow Grouping
  client/src/app/components/pipeline/pipeline.component.html
  client/src/app/components/pipeline/pipeline.component.ts
  client/src/icons.module.ts
Labels: bug, size:M, client, ready for review

#217 fix: Use `invalidateQueries` for immediate lock timer synchronization
  client/src/app/components/deployment-selection/deployment-selection.component.ts
  client/src/app/components/environments/environment-list/environment-list-view.component.ts
Labels: bug, client, ready for review, size:S

#229 fix: Get all the PRs in sorted by updatedAt
  server/application-server/src/main/java/de/tum/cit/aet/helios/pullrequest/PullRequestRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/pullrequest/PullRequestService.java
Labels: bug, ready for review, application-server, size:S

#219 feat: Permission based method security
  server/application-server/src/main/java/de/tum/cit/aet/helios/config/GitHubJwtAuthenticationConverter.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/config/KeycloakJwtAuthenticationConverter.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/config/SecurityConfig.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/config/security/annotations/EnforceAdmin.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/config/security/annotations/EnforceAtLeastMaintainer.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/config/security/annotations/EnforceAtLeastWritePermission.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/DeploymentController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/GitHubService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/permissions/PermissionException.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitreposettings/GitRepoSettingsController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/permissions/UserPermissionsController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/WorkflowController.java
Labels: size:L, application-server

#223 feat: Separate protected branches
  client/src/app/components/branches-table/branches-table.component.html
  client/src/app/components/branches-table/branches-table.component.ts
Labels: size:M, client, ready for review, feature

#211 fix: All Error messages
  client/src/app/app.component.ts
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/DeploymentController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/error/ApiError.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/error/GlobalExceptionHandler.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/permissions/UserPermissionsController.java
Labels: bug, size:L, client, ready for review, application-server

#233 fix: Add missing deployment icons and remove settings icon from sidebar
  client/src/app/pages/main-layout/main-layout.component.html
  client/src/icons.module.ts
Labels: bug, client, ready for review, size:XS

#222 feat: Combined Deployment and Locking History
  client/src/app/components/environments/environment-list/environment-list-view.component.html
  client/src/app/components/environments/environment-list/environment-list-view.component.ts
  client/src/app/core/modules/openapi/@tanstack/angular-query-experimental.gen.ts
  client/src/app/core/modules/openapi/schemas.gen.ts
  client/src/app/core/modules/openapi/sdk.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  client/src/app/core/services/keycloak/keycloak.service.ts
  client/src/app/pages/environment-deployment-history/environment-deployment-history.component.html
  client/src/app/pages/environment-deployment-history/environment-deployment-history.component.ts
  client/src/icons.module.ts
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/ActivityHistoryDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/DeploymentController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/DeploymentService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentLockHistoryRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentService.java
Labels: client, size:XL, ready for review, application-server, feature

#236 fix: Get the latest token every request
  client/src/app/app.component.ts
Labels: bug, client, ready for review, size:S

#239 ci: Update issue forms
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/2-feature-request.yml
Labels: github-config, size:S

#214 chore: Add test workflow for helios deployments
  .github/workflows/deployment-helios.yml
Labels: size:M, ready for review, github-config

#203 feat: Implement custom protection rule flow
  .github/workflows/deploy_docker.yml
  .github/workflows/deployment-helios.yml
  .gitignore
  client/src/app/core/modules/openapi/schemas.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  compose.prod.yaml
  docs/development/local/setup.rst
  docs/development/local/start_app.rst
  docs/images/helios-approved.png
  docs/images/helios-rejected.png
  server/application-server/.env.example
  server/application-server/build.gradle
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/Deployment.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/github/GitHubDeploymentStatusMessageHandler.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deploymentprotection/DeploymentProtectionRulePayload.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/deploymentprotection/GitHubDeploymentProtectionRuleMessageHandler.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/GitHubClientManager.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/GitHubConfig.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/GitHubCustomMessageHandler.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/GitHubCustomMessageHandlerRegistry.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/GitHubFacade.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/GitHubFacadeImpl.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/GitHubService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/HttpClientConfig.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/gitrepo/github/GitHubRepositorySyncService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/nats/NatsConsumerService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/user/github/GitHubUserSyncService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/util/GitHubAppJwtHelper.java
  server/application-server/src/main/resources/application-dev.yml
  server/application-server/src/main/resources/application-openapi.yml
  server/application-server/src/main/resources/application-prod.yml
Labels: documentation, client, ready for review, size:XXL, github-config, application-server, feature

#243 feat: Add 'Report an issue' button
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/2-feature-request.yml
  client/src/app/app.component.html
  client/src/app/app.component.ts
  client/src/app/components/report-problem-button/report-problem-button.component.html
  client/src/app/components/report-problem-button/report-problem-button.component.ts
  client/src/icons.module.ts
Labels: size:M, client, github-config

#272 fix: Lock issue on environment update
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentService.java
Labels: bug, ready for review, size:XS, application-server

#275 feat: Added github id into keycloak JWT
  helios-example-realm.json
Labels: size:M, feature

#281 fix: Use purple for merged PR icon
  client/src/app/components/pull-request-table/pull-request-table.component.ts
Labels: bug, client, ready for review, size:XS

#277 fix: Ensure workflow groups and names fit properly in PR and Branch views
  client/src/app/components/pipeline/pipeline.component.html
Labels: bug, client, ready for review, size:S

#278 fix: Expand nodes and highlight text on branch search
  client/src/app/components/branches-table/branches-table.component.html
  client/src/app/components/branches-table/branches-table.component.ts
  client/src/app/pipes/highlight.pipe.spec.ts
  client/src/app/pipes/highlight.pipe.ts
Labels: bug, size:L, client, ready for review

#280 feat: Add `WorkflowRunStatus` component for accurate status display
  client/src/app/components/branches-table/branches-table.component.html
  client/src/app/components/branches-table/branches-table.component.ts
  client/src/app/components/pull-request-table/pull-request-table.component.html
  client/src/app/components/pull-request-table/pull-request-table.component.ts
  client/src/app/components/workflow-run-status-component/workflow-run-status.component.html
  client/src/app/components/workflow-run-status-component/workflow-run-status.component.ts
  client/src/icons.module.ts
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/WorkflowRunService.java
Labels: bug, size:L, client, ready for review, application-server

#235 chore: Add sentry to both client and server
  .github/workflows/deploy_docker.yml
  client/.gitignore
  client/angular.json
  client/package.json
  client/src/app/app.config.ts
  client/src/environments/environment.dev.ts
  client/src/environments/environment.prod.ts
  client/src/environments/environment.ts
  client/src/main.ts
  client/yarn.lock
  server/application-server/build.gradle
  server/application-server/src/main/java/de/tum/cit/aet/helios/config/SecurityConfig.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/error/GlobalExceptionHandler.java
  server/application-server/src/main/resources/application-prod.yml
Labels: size:L, client, github-config, application-server

#234 chore: Add flyway with initial schema for migrations
  .github/workflows/flyway-validate.yml
  .gitignore
  docs/development/local/migrations.rst
  docs/index.rst
  server/application-server/build.gradle
  server/application-server/src/main/resources/application-dev.yml
  server/application-server/src/main/resources/application-openapi.yml
  server/application-server/src/main/resources/application-prod.yml
  server/application-server/src/main/resources/db/migration/V1__initial_schema.sql
Labels: documentation, size:XL, github-config, application-server

#288 fix: Flyway validation not working properly for PRs
  .github/workflows/flyway-validate.yml
Labels: bug, size:XS, github-config

#289 chore: Validate flyway on push to main
  .github/workflows/flyway-validate.yml
  .github/workflows/prod.yml
Labels: ready for review, github-config, size:S
