Repository ls1intum/Helios, pull requests merged in 2025-04, with the labels that each got.

#616 fix: Remove sorting by changed state in test results to improve performance and do not save logs for passed tests
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/TestResultProcessor.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/TestResultService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/TestSuiteRepository.java
Labels: bug, size:M, application-server

#630 feat: Failure rates for all branches
  client/src/app/components/pipeline/test-results/pipeline-test-results.component.html
  client/src/app/components/pipeline/test-results/pipeline-test-results.component.ts
  client/src/app/core/modules/openapi/schemas.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/TestCase.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/TestCaseStatistics.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/TestCaseStatisticsRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/TestCaseStatisticsService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/TestResultProcessor.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/TestResultService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/tests/TestResultsDto.java
  server/application-server/src/main/resources/db/migration/V27__remove_flakiness_fields_from_test_case_statistics.sql
Labels: size:L, client, ready for review, application-server, feature, migration-script

#637 feat: Filter logs by log level
  client/src/app/components/pipeline/test-results/pipeline-test-results.component.html
  client/src/app/components/pipeline/test-results/pipeline-test-results.component.ts
Labels: size:L, client, ready for review, feature

#638 feat: generate release notes
  client/src/app/core/modules/markdown/markdown.pipe.ts
  client/src/app/core/modules/openapi/@tanstack/angular-query-experimental.gen.ts
  client/src/app/core/modules/openapi/schemas.gen.ts
  client/src/app/core/modules/openapi/sdk.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  client/src/app/pages/release-candidate-details/release-candidate-details.component.html
  client/src/app/pages/release-candidate-details/release-candidate-details.component.ts
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/GitHubService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/ReleaseInfoController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/ReleaseInfoDetailsDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/ReleaseInfoService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/ReleaseNotesDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/release/ReleaseRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/releasecandidate/ReleaseCandidate.java
  server/application-server/src/main/resources/db/migration/V28__add_body_to_release_candidate.sql
Labels: client, size:XL, ready for review, application-server, feature, migration-script

#633 fix: add delayed processing for GitHub `workflow_run` events
  server/application-server/src/main/java/de/tum/cit/aet/helios/config/AsyncConfig.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/github/GitHubWorkflowRunMessageHandler.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/github/GitHubWorkflowRunSyncService.java
Labels: bug, size:L, ready for review, application-server

#643 feat: add dark mode
  client/src/app/app.config.ts
  client/src/app/components/branches-table/branches-table.component.html
  client/src/app/components/deployment-selection/deployment-selection.component.html
  client/src/app/components/dialogs/release-candidate-create/release-candidate-create.component.html
  client/src/app/components/environments/deployment-info/environment-deployment-info.component.html
  client/src/app/components/environments/deployment-stepper/deployment-stepper.component.html
  client/src/app/components/environments/deployment-stepper/deployment-stepper.component.ts
  client/src/app/components/environments/environment-accordion/environment-accordion.component.html
  client/src/app/components/environments/environment-accordion/environment-accordion.component.ts
  client/src/app/components/environments/environment-actions/environment-actions.component.html
  client/src/app/components/environments/environment-reviewers/environment-reviewers.component.html
  client/src/app/components/environments/environment-status-info/environment-status-info.component.html
  client/src/app/components/footer/footer.component.html
  client/src/app/components/forms/environment-edit-form/environment-edit-form.component.html
  client/src/app/components/forms/environment-edit-form/environment-edit-form.component.ts
  client/src/app/components/locking-thresholds/locking-thresholds.component.html
  client/src/app/components/navigation-bar/navigation-bar.component.html
  client/src/app/components/navigation-bar/navigation-bar.component.ts
  client/src/app/components/page-heading/page-heading.component.html
  client/src/app/components/pipeline/pipeline.component.html
  client/src/app/components/pipeline/pipeline.component.ts
  client/src/app/components/pipeline/test-results/pipeline-test-results.component.html
  client/src/app/components/profile-nav-section/profile-nav-section.component.html
  client/src/app/components/pull-request-status-icon/pull-request-status-icon.component.ts
  client/src/app/components/pull-request-table/pull-request-table.component.html
  client/src/app/components/release-candidate-deployment-table/release-candidate-deployment-table.component.html
  client/src/app/components/release-candidate-table/release-candidate-table.component.html
  client/src/app/components/table-filter/table-filter.component.html
  client/src/app/components/user-avatar/user-avatar.component.html
  client/src/app/components/user-lock-info/user-lock-info.component.html
  client/src/app/components/workflow-run-status-component/workflow-run-status.component.ts
  client/src/app/pages/about/about.component.html
  client/src/app/pages/about/about.component.ts
  client/src/app/pages/branch-details/branch-details.component.html
  client/src/app/pages/environment-deployment-history/environment-deployment-history.component.html
  client/src/app/pages/main-layout/main-layout.component.html
  client/src/app/pages/main-layout/main-layout.component.ts
  client/src/app/pages/page-not-found/page-not-found.component.html
  client/src/app/pages/page-not-found/page-not-found.component.ts
  client/src/app/pages/project-settings/project-settings.component.html
  client/src/app/pages/project-settings/project-settings.component.ts
  client/src/app/pages/pull-request-details/pull-request-details.component.html
  client/src/app/pages/release-candidate-details/release-candidate-details.component.html
  client/src/app/pages/repository-overview/repository-overview.component.html
  client/src/app/pages/unauthorized-page/unauthorized-page.component.html
  client/src/icons.module.ts
  client/src/test-setup.ts
  client/tailwind.config.js
Labels: client, size:XL

#640 fix: release deployments
  client/src/app/components/release-candidate-deployment-table/release-candidate-deployment-table.component.ts
  client/src/app/core/modules/openapi/schemas.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/DeployRequest.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/GitHubService.java
Labels: client, application-server, size:S, feature

#644 fix: markdown and tabs issue
  client/src/app/app.config.ts
  client/src/app/core/modules/markdown/markdown.pipe.ts
Labels: bug, client, size:S

#634 feat: Branches List View Filter by last 7 days and Expand/Collapse All
  client/src/app/components/branches-table/branches-table.component.html
  client/src/app/components/branches-table/branches-table.component.ts
Labels: size:M, client, ready for review, feature

#639 feat: publish release with user token
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/GitHubService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/ReleaseInfoService.java
Labels: size:L, application-server, feature

#641 feat: UI Changes
  client/src/app/components/footer/footer.component.html
  client/src/app/components/user-lock-info/user-lock-info.component.html
  client/src/app/pages/branch-details/branch-details.component.html
  client/src/app/pages/ci-cd/ci-cd.component.html
  client/src/app/pages/pull-request-details/pull-request-details.component.html
Labels: client, size:S, feature

#647 fix: rc disable delete for published releases, process published drafts
  client/src/app/pages/release-candidate-details/release-candidate-details.component.html
  server/application-server/src/main/java/de/tum/cit/aet/helios/github/GitHubService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/ReleaseInfoService.java
Labels: bug, client, application-server, size:S

#648 feat: Data sync configuration
  .github/workflows/deploy_docker.yml
  compose.prod.yaml
  server/application-server/src/main/resources/application-staging.yml
Labels: bug, github-config, application-server, size:S

#665 feat: sync environments button
  client/src/app/components/environments/environment-list/environment-list-view.component.html
  client/src/app/components/environments/environment-list/environment-list-view.component.ts
  client/src/app/core/modules/openapi/@tanstack/angular-query-experimental.gen.ts
  client/src/app/core/modules/openapi/sdk.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  client/src/icons.module.ts
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentService.java
Labels: size:L, client, application-server, feature

#675 fix: set open pull request as default filter
  client/src/app/components/pull-request-table/pull-request-table.component.ts
Labels: client, size:XS

#674 fix: add loading animation for release candidate create dialog
  client/src/app/components/dialogs/release-candidate-create/release-candidate-create.component.html
  client/src/app/components/dialogs/release-candidate-create/release-candidate-create.component.ts
Labels: client, size:S

#676 fix: client dockerfile quotes for version information
  client/Dockerfile
Labels: bug, client, ready for review, size:XS

#670 refactor: improve accessibility for icons and colors
  client/src/app/app.config.ts
  client/src/app/components/branches-table/branches-table.component.html
  client/src/app/components/dialogs/release-candidate-create/release-candidate-create.component.html
  client/src/app/components/environments/deployment-info/environment-deployment-info.component.html
  client/src/app/components/environments/deployment-stepper/deployment-stepper.component.html
  client/src/app/components/environments/environment-list/environment-list-view.component.html
  client/src/app/components/environments/environment-status-info/environment-status-info.component.html
  client/src/app/components/footer/footer.component.html
  client/src/app/components/forms/environment-edit-form/environment-edit-form.component.html
  client/src/app/components/locking-thresholds/locking-thresholds.component.html
  client/src/app/components/navigation-bar/navigation-bar.component.html
  client/src/app/components/page-heading/page-heading.component.html
  client/src/app/components/pipeline/pipeline.component.html
  client/src/app/components/pipeline/pipeline.component.ts
  client/src/app/components/pipeline/test-results/pipeline-test-results.component.html
  client/src/app/components/profile-nav-section/profile-nav-section.component.html
  client/src/app/components/pull-request-status-icon/pull-request-status-icon.component.html
  client/src/app/components/pull-request-status-icon/pull-request-status-icon.component.ts
  client/src/app/components/pull-request-table/pull-request-table.component.html
  client/src/app/components/pull-request-table/pull-request-table.component.ts
  client/src/app/components/release-candidate-deployment-table/release-candidate-deployment-table.component.html
  client/src/app/components/release-candidate-table/release-candidate-table.component.html
  client/src/app/components/user-avatar/user-avatar.component.html
  client/src/app/components/user-lock-info/user-lock-info.component.html
  client/src/app/components/workflow-run-status-component/workflow-run-status.component.html
  client/src/app/components/workflow-run-status-component/workflow-run-status.component.ts
  client/src/app/pages/about/about.component.html
  client/src/app/pages/branch-details/branch-details.component.html
  client/src/app/pages/ci-cd/ci-cd.component.html
  client/src/app/pages/environment-deployment-history/environment-deployment-history.component.html
  client/src/app/pages/main-layout/main-layout.component.html
  client/src/app/pages/page-not-found/page-not-found.component.html
  client/src/app/pages/project-settings/project-settings.component.html
  client/src/app/pages/pull-request-details/pull-request-details.component.html
  client/src/app/pages/release-candidate-details/release-candidate-details.component.html
  client/src/app/pages/repository-overview/repository-overview.component.html
  client/src/app/pages/unauthorized-page/unauthorized-page.component.html
  client/src/app/primeng.config.ts
  client/src/icons.module.ts
Labels: client, size:XL

#669 fix: use tree shaking for icons
  client/src/app/components/branches-table/branches-table.component.ts
  client/src/app/components/dialogs/release-candidate-create/release-candidate-create.component.ts
  client/src/app/components/environments/deployment-info/environment-deployment-info.component.ts
  client/src/app/components/environments/deployment-state-tag/deployment-state-tag.component.ts
  client/src/app/components/environments/deployment-stepper/deployment-stepper.component.ts
  client/src/app/components/environments/environment-accordion/environment-accordion.component.ts
  client/src/app/components/environments/environment-actions/environment-actions.component.ts
  client/src/app/components/environments/environment-list/environment-list-view.component.ts
  client/src/app/components/environments/environment-reviewers/environment-reviewers.component.ts
  client/src/app/components/environments/environment-status-tag/environment-status-tag.component.ts
  client/src/app/components/forms/environment-edit-form/environment-edit-form.component.ts
  client/src/app/components/navigation-bar/navigation-bar.component.ts
  client/src/app/components/pipeline/pipeline.component.ts
  client/src/app/components/pipeline/test-results/pipeline-test-results.component.ts
  client/src/app/components/profile-nav-section/profile-nav-section.component.ts
  client/src/app/components/pull-request-status-icon/pull-request-status-icon.component.ts
  client/src/app/components/pull-request-table/pull-request-table.component.ts
  client/src/app/components/release-candidate-deployment-table/release-candidate-deployment-table.component.ts
  client/src/app/components/release-candidate-table/release-candidate-table.component.ts
  client/src/app/components/report-problem-button/report-problem-button.component.ts
  client/src/app/components/table-filter/table-filter.component.ts
  client/src/app/components/user-avatar/user-avatar.component.ts
  client/src/app/components/user-lock-info/user-lock-info.component.ts
  client/src/app/components/workflow-run-status-component/workflow-run-status.component.ts
  client/src/app/pages/branch-details/branch-details.component.ts
  client/src/app/pages/environment-deployment-history/environment-deployment-history.component.ts
  client/src/app/pages/main-layout/main-layout.component.ts
  client/src/app/pages/project-settings/project-settings.component.ts
  client/src/app/pages/pull-request-details/pull-request-details.component.ts
  client/src/app/pages/release-candidate-details/release-candidate-details.component.ts
  client/src/app/pages/repository-overview/repository-overview.component.ts
  client/src/icons.module.ts
Labels: client, size:XL

#677 fix: release sentry version
  .github/workflows/release-sentry.yml
Labels: bug, ready for review, size:XS, github-config

#686 feat: Add configurable deployment workflow branch per environment
  client/src/app/components/forms/environment-edit-form/environment-edit-form.component.html
  client/src/app/components/forms/environment-edit-form/environment-edit-form.component.ts
  client/src/app/core/modules/openapi/schemas.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/deployment/DeploymentService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/Environment.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/environment/EnvironmentService.java
  server/application-server/src/main/resources/db/migration/V29__add_environment_workflow_branch.sql
Labels: size:M, client, application-server, feature, migration-script

#671 feat: Tag broken test cases
  client/src/app/components/pipeline/test-results/pipeline-test-results.component.html
  client/src/app/components/pipeline/test-results/pipeline-test-results.component.ts
Labels: size:M, client, ready for review, feature

#689 fix: wrong icons & pr title truncate problem
  client/src/app/components/pipeline/test-results/pipeline-test-results.component.ts
  client/src/app/components/pull-request-table/pull-request-table.component.html
Labels: bug, client, ready for review, size:S

#678 feat: nightly purge of obsolete workflow_runs
  server/application-server/src/main/java/de/tum/cit/aet/helios/HeliosApplication.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/WorkflowRunRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/cleanup/WorkflowRunCleanupProps.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/workflow/cleanup/WorkflowRunCleanupTask.java
  server/application-server/src/main/resources/application.yml
  server/application-server/src/main/resources/db/migration/V30__add_delete_on_cascade_heliosdeployment_workflowrun.sql
Labels: size:L, ready for review, application-server, feature, migration-script

#645 feat: edit rc name
  client/src/app/components/branches-table/branches-table.component.html
  client/src/app/components/environments/environment-list/environment-list-view.component.html
  client/src/app/components/release-candidate-deployment-table/release-candidate-deployment-table.component.ts
  client/src/app/components/release-candidate-table/release-candidate-table.component.ts
  client/src/app/core/modules/openapi/@tanstack/angular-query-experimental.gen.ts
  client/src/app/core/modules/openapi/schemas.gen.ts
  client/src/app/core/modules/openapi/sdk.gen.ts
  client/src/app/core/modules/openapi/types.gen.ts
  client/src/app/pages/release-candidate-details/release-candidate-details.component.html
  client/src/app/pages/release-candidate-details/release-candidate-details.component.ts
  client/src/app/pages/release/release.component.html
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/ReleaseCandidateNameUpdateDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/ReleaseEvaluationDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/ReleaseInfoController.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/ReleaseInfoService.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/ReleaseNotesDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/UpdateReleaseNotesDto.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/releasecandidate/ReleaseCandidate.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/releasecandidate/ReleaseCandidateEvaluation.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/releasecandidate/ReleaseCandidateEvaluationRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/releasecandidate/ReleaseCandidateRepository.java
  server/application-server/src/main/java/de/tum/cit/aet/helios/releaseinfo/releasecandidate/ReleaseNameDto.java
  server/application-server/src/main/resources/db/migration/V31__add_separate_id_for_release_candidates.sql
Labels: bug, client, size:XXL, application-server, migration-script
